/*!
Theme Name: law_firm
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: law_frim
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

law_frim is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin-top: 0;
}

p {
    color: #787878;
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    text-decoration: none;
    font-weight: 500;
    color: #232529;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 25px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

label {
    font-weight: normal;
    color: #232529;
    margin: 0;
}

label .required {
    border-bottom: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

ul,
ol {
    padding: 0 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232529;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
    overflow: hidden;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    border: 1px solid #eee;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: normal;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
    border: 1px solid #eee;
    padding: 7px 10px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: #f1f5f8;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    height: 40px;
}

textarea {
    display: block;
    width: 100%;
}

select {
    background: url(assets/images/down-arrow.png) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 95%;
}

select::-ms-expand {
    display: none;
}

:focus {
    outline: none;
}

blockquote {
    font-family: 'Pacifico', cursive;
    color: #333;
    border: none;
    padding: 15px 0px 15px 20px;
    margin-bottom: 12px;
    margin: 15px 0;
    background: rgba(204, 204, 204, 0.07058823529411765)
}

iframe {
    display: block;
    max-width: 100% !important;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 5px;
}

a.button,
button,
input[type="submit"] {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px;
    border: none;
    background-color: #ffb922;
    color: #fff;
    text-align: center;
    font-weight: 600;
    outline: 0;
}

a.button:hover,
a.button:focus,
button:hover,
input[type="submit"]:hover {
    opacity: 0.7;
    color: #fff;
    outline: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #cfa468;
    text-decoration: none;
    line-height: inherit;
    outline: none;

}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #cfa468;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.column-right-navigation .menu {
    float: right;
}

span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 7px;
    width: 42px;
    height: 42px;
    text-align: center;
    background: #c6c6c6;
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.main-menu-bg {
    background: #FFF;
    border-top: 1px solid #d8d8d8;
}

.main-navigation {
    vertical-align: middle;
    width: 100%;
}

.main-navigation ul {
    margin: 0;
    padding: 0 1px;
}

.main-navigation ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    text-align: left;
}

.main-navigation ul ul li {
    margin: 0;
}

.main-navigation ul li a {
    display: block;
    color: #0e0e0e;
    font-size: 18px;
    padding: 10px 16px;
    line-height: 2.2;
    font-weight: 600;
}

.main-navigation ul.nav-menu > li > a {
    padding: 16px 16px;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.active > a {
    color: #e4353a;
}

.main-navigation ul li ul {
    left: 0;
    top: 100%;
    margin: 0;
    width: 220px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}

.main-navigation ul li ul li {
    position: relative;
    display: block;
    border-top: 1px dashed #f1f1f1;
}

.main-navigation ul li ul li:first-child {
    border-top: none;
}

.main-navigation ul li ul li a {
    font-size: 16px;
    padding: 10px 20px;
}

.main-navigation ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 160px;
    padding: 0;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 1;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)
}

.main-navigation ul li ul li {
    position: relative;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 220px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 0;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.main-navigation ul li ul li:hover > ul {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/*menu has children*/
.main-navigation ul > li.menu-item-has-children {
    position: relative;
}

.main-navigation ul > li.menu-item-has-children > a {
    padding-right: 25px;
}

.main-navigation div > ul > li.menu-item-has-children:before {
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
    font-size: 14px;
}

.main-navigation ul ul li.menu-item-has-children:before {
    content: '\f105';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
}

.main-navigation div > ul > li.menu-item-has-children:hover:before,
.main-navigation ul ul li.menu-item-has-children:hover:before {
    color: #e4353a;
}

.post-navigation {
    margin-bottom: 20px;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a,
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
    background-color: #cf9455;
    border: 1px solid #cf9455;
    color: #FFF;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 25px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover {
    background-color: #c09209;
    border: 1px solid #c09209;
    color: #FFF;
}

.main-menu-toggle {
    display: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget,
.content-area {
    margin: 1.5em 0;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

.widget-area .widget {
    padding: 15px;
    background: #FFF;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.widget-area label, .widget-area form {
    width: 100%;
}

.widget-area .widget.woocommerce ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cross-sells h2,
.cart_totals h2,
.up-sells h2,
.related h2,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.woocommerce-additional-fields h3,
#order_review_heading,
.woocommerce-order-details h2,
.woocommerce-column--billing-address h2,
.woocommerce-column--shipping-address h2,
.woocommerce-Address-title h3,
.woocommerce-MyAccount-content h3,
.wishlist-title h2,
.woocommerce-account .woocommerce h2,
.widget-area .widget .widget-title {
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 15px;
    line-height: 35px;
    color: #000;
}

.cross-sells h2:before,
.cart_totals h2:before,
.up-sells h2:before,
.related h2:before,
.woocommerce-billing-fields h3:before,
.woocommerce-shipping-fields h3:before,
.woocommerce-additional-fields h3:before,
#order_review_heading:before,
.woocommerce-order-details h2:before,
.woocommerce-column--billing-address h2:before,
.woocommerce-column--shipping-address h2:before,
.woocommerce-Address-title h3:before,
.woocommerce-MyAccount-content h3:before,
.wishlist-title h2:before,
.woocommerce-account .woocommerce h2:before,
.widget-area .widget .widget-title:before {
    height: 2px;
    content: "";
    position: absolute;
    width: 100%;
    background: #cfa468;
    bottom: 0;
    left: 0;
}


.widget-area ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}

.widget-area ul li a {
    color: #000;
}

.widget-area ul li:last-child {
    border: 0;
    padding-bottom: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_product_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_product_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_product_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 15px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget-area .widget a:hover,
.widget-area .widget a:hover::before,
.widget-area .widget li:hover::before {
    color: #e4353a;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_product_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f187";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before,
.widget_product_categories a::before {
    content: "\f07b";
    top: -4px;
}

.widget_archive a::before {
    top: -4px;
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

.custom-recent-post li .thumb {
    display: table-cell;
    padding-top: 5px;
    vertical-align: top;
    width: 80px;
}

.custom-recent-post li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}

.custom-recent-post li:last-child {
    border-bottom: none;
}

.custom-recent-post li .info {
    box-shadow: inherit;
    color: #837f7e;
    display: table-cell;
    line-height: 26px;
    padding: 0 0 0 20px;
    vertical-align: top;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-item img {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 32.8%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.gallery figure {
    margin: 0px;
    padding: 3px;
}

/*--------------------------------------------------------------
## General CSS
--------------------------------------------------------------*/
.btn {
    transition: all 0.4s ease;
}

.btn-primary {
    background: #e4353a;
    border: none;
    border-radius: 0;
    padding: 8px 30px;
    font-weight: 500;

}

.btn-primary:hover {
    background: #bb9338;
    border: none;
    border-radius: 0;
    padding: 8px 30px;
    font-weight: 500;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-str-up {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    padding: 15px 25px;
    position: relative;
    text-transform: capitalize;
    transform: perspective(1px) translateZ(0px);
    transition: .3s;
    vertical-align: middle;
    background: #e4353a;
    border-radius: 3px;
    border: none;
}

.btn-str-up:hover {
    color: #fff;
}

.btn-str-up:before {
    background: #cfa463;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 0 0;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
    border-radius: 3px;
}

.btn-str-up:hover::before {
    transform: scaley(1);
}

.thin_layer {
    bottom: 0;
    height: 100%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.big-title {
    font-size: 45px;
    padding-bottom: 30px;
    position: relative;
}

.big-title.white {
    color: #FFF;
}

.big-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 95%;
    margin: 0;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3px, rgba(118, 116, 132, 0.3) 3px, rgba(118, 116, 132, 0.3) 6px);
}

.big-title.white:before {
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3px, rgba(255, 255, 255, 1) 3px, rgba(255, 255, 255, 1) 6px);
}

section {
    padding: 60px 0;
}

.section-title-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.section-title::before, .section-title::after {
    content: "";
    position: absolute;
    bottom: 40%;
    height: 6px;
    width: 50px;
    margin: 0 -20px;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 3px, rgba(118, 116, 132, 0.2) 3px, rgba(118, 116, 132, 0.3) 6px);

}

.section-title::before {
    left: -40px;
}

.section-title::after {
    right: -40px;
}

/****** video ripple effect btn ends here ***********/

.box-shadow-ripples {
    position: relative;
    z-index: 99;
    width: 80px;
    height: 80px;
    background: #e4353a;
    border-radius: 50%;
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 14px 25px;
    color: #FFF;
    font-size: 50px;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}

.box-shadow-ripples:hover, .box-shadow-ripples:focus {
    color: #FFF;
}

.box-shadow-ripples:before {
    position: absolute;
    content: "";
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-radius: 50%;
    box-shadow: 0 0 rgba(255, 255, 255, 0.2), 0 0 0 16px rgba(255, 255, 255, 0.2),
    0 0 0 32px rgba(255, 255, 255, 0.2), 0 0 0 48px rgba(255, 255, 255, 0.2);
    animation: ripples 1s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: scale(0.5);
    z-index: 0;
}

.box-shadow-ripples:hover:before {
    animation-play-state: running;
    opacity: 1;
    visibility: visible;
    transform: scale(0.8);
}

@keyframes ripples {
    to {
        box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.2), 0 0 0 32px rgba(255, 255, 255, 0.2),
        0 0 0 48px rgba(255, 255, 255, 0.2), 0 0 0 64px rgba(255, 255, 255, 0);
    }
}

/****** video ripple effect btn ends here ***********/
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-dot {
    outline: 0;
}

.img_background {
    background-position: 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.border_img_overlay {
    position: absolute;
    width: 90%;
    height: 90%;
    border: 1px solid #FFF;
    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.spl_law_top_bar .row > div {
    align-self: center;
}

.spl_law_top_bar {
    background: #191818;
    border-bottom: 1px solid #191818;
    padding: 5px 0;
}

.spl_law_top_bar span {
    font-size: 14px;
    font-weight: 500;
    color: #4d4d4d;

}

.spl_law_top_bar ul {
    padding: 6px 0 3px 0;
    margin: 0;
}

.spl_law_top_bar ul li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 15px;
    height: 26px;
    color: #f6f5f5;
}

.spl_law_top_bar ul li a {
    color: #fff;
    transition: all 0.4s ease;
}

.spl_law_top_bar ul li a:hover {
    color: #3c3e40;
}

.spl_law_top_bar .top_bar_right a, .spl_law_top_bar .top_bar_right ul {
    float: right;
}

ul.social-media {
    margin-right: 10px;
}

ul.social-media li a {
    color: #fff;
    background: #464a4d;
    padding: 2px 7px;
    border-radius: 2px;
    transition: all 0.4s ease;
}

ul.social-media li a:hover {
    color: #FFF;
    background: #e4353a;
}

.search-form {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

input.search-field {
    padding-left: 28px;
    color: #5f6970;
    font-size: 15px;
    font-weight: 400;
}

.search-form:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #727272;
    font-size: 14px;
    position: absolute;
    top: 7px;
    left: 8px;
}

input[type="submit"].search-submit {
    display: none;
}

/*--------------------------------------------------------------
## Main Header
--------------------------------------------------------------*/
.spl_law_main_header {
    background: #FFF;
    position: relative;
}
.spl_law_main_header .row{
    position: relative;
}

.spl_law_main_header .row > div {
    align-self: center;
}

.spl_law_main_header .column-left-icon {
    width: 25%;
}

.spl_law_main_header .column-right-navigation {
    width: 73%;
}

.column-button-search {
    width: 2%;

}

.column-button-search a {
    color: #0e0e0e;
}

.column-button-search a:hover {
    color: #e4353a;
}

.spl_law_main_header .site-branding {
    padding: 0;
}

.spl_law_main_header .site-branding h1 {
    margin: 0;
    text-transform: uppercase;

}

.spl_law_main_header .site-branding h1 a {
    color: #000;
    font-size: 29px;
    line-height: 45px;
    margin-bottom: 30px;
}

.spl_law_main_header .site-branding h1 a span {
    color: #e4353a;
}

.spl_law_main_header .site-branding p {
    color: #000;
    margin: 0;
    font-size: 14px;
}

.phone {
    padding: 13px 20px 12px;
    margin-top: 2px;
}

.search-pop-up {
    width:300px;
    right: 0;
    z-index: 999;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    background: #fff;
    border: 1px solid #f5f5f5;
    bottom: -60px;
}

.search-pop-up.active {
    opacity: 1;
    visibility: visible;
}

.search-pop-up .search-form {
    display: block;
    margin-left: 5px;
    position: relative;
}

.search-pop-up label{
    width: 100%;
}
.search-pop-up.active {
    opacity: 1;
    visibility: visible;
}
.search-field{
    width: 23%;
}
/*

!*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*!
.main-menu-toggle {
    display: none;
}
span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    width: 42px;
    height: 42px;
    text-align: center;
    background: transparent;
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}
.box-header-nav .main-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.box-header-nav .main-menu {
    list-style: none;
    margin-bottom: 0;
    text-align: left;
    margin-left: 45px;
}

.block-nav-category .vertical-menu .menu-item.btn,
.box-header-nav .main-menu .menu-item.btn {
    display: block;
    padding: inherit;
    text-align: inherit;
    border: 0;
}

.box-header-nav .main-menu .page_item,
.box-header-nav .main-menu .page_item a,
.box-header-nav .main-menu .menu-item,
.box-header-nav .main-menu .menu-item a {
    position: relative;
}

.box-header-nav .main-menu > ul > .page_item,
.box-header-nav .main-menu > ul > .menu-item {
    display: inline-block;
    float: left;
}

!*.box-header-nav .main-menu .page_item:not(:first-child),
.box-header-nav .main-menu>.menu-item:not(:first-child){
    margin-left: -1px;
}*!
.box-header-nav .main-menu .page_item a,
.box-header-nav .main-menu > ul > .menu-item > a {
    display: inline-block;
    padding: 25px 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: #342f2f;
}

.box-header-nav .main-menu .page_item.current_page_item > a,
.box-header-nav .main-menu .page_item:hover > a,
.box-header-nav .main-menu > .menu-item.current-menu-item > a,
.box-header-nav .main-menu > .menu-item:hover > a {
    background: #e4353a;
    z-index: 1;
    color: #FFF;
}

.box-header-nav .main-menu .page_item.page_item_has_children > a::after,
.box-header-nav .main-menu > ul > .menu-item.menu-item-has-children > a::after {
    display: inline-block;
    vertical-align: top;
    content: '\f107';
    margin-left: 4px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
}

!*.box-header-nav .main-menu .page_item:not(:first-child)>a::before,
.box-header-nav .main-menu>.menu-item:not(:first-child)>a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 22px;
    margin: auto;
    background-color: inherit;
}
.box-header-nav .main-menu .page_item:not(.current_page_item):not(:hover)>a::before,
.box-header-nav .main-menu>.menu-item:not(.current-menu-item):not(:hover)>a::before{
    background-color: rgba(0,0,0,0.1);
}*!
.box-header-nav .main-menu .page_item:hover > .children,
.box-header-nav .main-menu .menu-item:hover > .sub-menu {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
}

.box-header-nav .main-menu .children,
.box-header-nav .main-menu .sub-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 225px;
    background-color: #fff;
    color: #666;
    box-shadow: 0 -1px #eee inset, 1px 0 #eee inset, -1px 0 #eee inset;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}

.box-header-nav .main-menu .children > .page_item > a,
.box-header-nav .main-menu .sub-menu > .menu-item > a {
    display: block;
    padding: 10px 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.box-header-nav .main-menu .children li:not(:first-child)::before,
.box-header-nav .main-menu .sub-menu li:not(:first-child)::before {
    content: '';
    display: block;
    border-top: 1px dashed #f1f1f1;
}

.box-header-nav .main-menu .children > .page_item:hover > a,
.box-header-nav .main-menu .sub-menu > .menu-item:hover > a {
    background-color: #e4353a;
    color: #fff;
    font-weight: 700;
}

.box-header-nav .main-menu .children > .page_item.page_item_has_children > a::after,
.box-header-nav .main-menu .sub-menu > .menu-item.menu-item-has-children > a::after {
    display: inline-block;
    float: right;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.box-header-nav .main-menu .children .children,
.box-header-nav .main-menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
    box-shadow: 0 -1px #eee inset, 1px 0 #eee inset, 0 1px #eee inset;
}
*/

/*--------------------------------------------------------------
## Banner Slider
--------------------------------------------------------------*/
.banner_slider_section {
    position: relative;
}
.spl_law_bannerSlider .banner-item {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.spl_law_bannerSlider .banner-item .slider-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

.banner_slider_section.form .spl_law_bannerSlider .banner-item .slider-content {
    height: auto;
    color: #fff;
    max-width: 650px;
    margin: 70px 0 0 0 ;
    text-align: left;
}
.spl_law_bannerSlider .banner-item .slider-content.right {
    float: right;
    text-align: right;
}

.spl_law_bannerSlider .banner-item .slider-content .banner-title {
    font-size: 39px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 30px;
}

.spl_law_bannerSlider .banner-item .slider-content .slider-sub-title {
    font-size: 24px;
    color: #ffb923;
    display: block;
    margin-bottom: 30px;
}

.spl_law_bannerSlider .banner-item .slider-content p {
    margin-bottom: 40px;
    color: #FFF;
}

.spl_law_bannerSlider .banner-item .slider-content .btn-area .btn-border {
    margin-left: 30px;
}

.spl_law_bannerSlider .owl-nav {
    display: none;
}

.bannerOuter {
    width: 100%;
    height: 100%;
    display: table;
}

.bannerOuter .bannerInner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.bannerOuter .bannerInner .mx-auto .slider-content {
    text-align: center;
}

.owl-item.active .slider-content .banner-title {
    -webkit-animation-name: animLeft;
    animation-name: animLeft;
    -webkit-animation: animLeft 1s ease 500ms both;
    animation: animLeft 1s ease 500ms both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

.owl-item.active .slider-content p {
    -webkit-animation-name: animLeft;
    animation-name: animLeft;
    -webkit-animation: animLeft 1s ease 500ms both;
    animation: animLeft 1s ease 500ms both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}

.owl-item.active .slider-content .btn {
    -webkit-animation-name: animLeft;
    animation-name: animLeft;
    -webkit-animation: animLeft 1s ease 500ms both;
    animation: animLeft 1s ease 500ms both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

@-webkit-keyframes animLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: all .5s;
    }
}

.spl_law_bannerSlider .owl-dots {
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    z-index: 1;
}

.spl_law_bannerSlider .owl-dots .owl-dot {
    display: block;
    margin: 0;
    top: 0;
    line-height: 20px;
}

.spl_law_bannerSlider .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #59616d;
    display: inline-block;
    margin: 0 3px;
    opacity: .5;
}

.spl_law_bannerSlider .owl-dots .owl-dot.active span {
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
    top: 2px;
    opacity: 1;
}

.spl_law_bannerSlider .owl-dots .owl-dot:focus {
    outline: none;
}

.consultant_form{
    position: absolute;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,0.1);
    right: 10%;
    top:15%;
    z-index: 9;
}

.consultant_form h3{
    color: #ffffff;
}

.consultant_form  .wpcf7 label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 100%;

}

.consultant_form  .wpcf7 span {
    width: 100%;
}

.consultant_form  .wpcf7 .wpcf7-textarea {
    height: 200px;
}

.consultant_form  .wpcf7 p {
    margin-bottom: 0;
}


.consultant_form  .wpcf7 input,
.consultant_form  .wpcf7 .wpcf7-textarea {
    background: rgba(255, 255, 255,1);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 15px;
    color: #968c8c;
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 15px 20px;

}

.consultant_form  .wpcf7 input {
    height: 50px;
}

.consultant_form  .wpcf7 .wpcf7-textarea {
    height: 150px;
}

.consultant_form  .wpcf7 input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 0px;
    transition: all .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background-color: #e4353a;
    border: 1px solid #e4353a;
}

.consultant_form  .wpcf7 input[type="submit"]:hover {
    background-color: #cfa463;
    border: 1px solid #cfa463;
    opacity: 1;
}
.banner_slider_section.form.layout_two .consultant_form .wpcf7 input[type="submit"] {
    background-color: #cf9455;
    border: 1px solid #cf9455;
}
/*--------------------------------------------------------------
## Feature Services
--------------------------------------------------------------*/
.spl_law_feature_services {
    background: #f8f8f8;
}

.spl_law_feature_services .feature_service {
    padding: 30px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: block;
    height: 320px;
    margin-top: 30px;
}

.spl_law_feature_services .feature_service i {
    color: #fff;
    font-size: 50px;
    height: 140px;
    width: 140px;
    line-height: 170px;
    text-align: center;
    background-image: -ms-linear-gradient(left, #e4353a 0%, #c2161b 100%);
    background-image: -moz-linear-gradient(left, #e4353a 0%, #c2161b 100%);
    background-image: -o-linear-gradient(left, #e4353a 0%, #c2161b 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e4353a), color-stop(100, #c2161b));
    background-image: -webkit-linear-gradient(left, #e4353a 0%, #c2161b 100%);
    background-image: linear-gradient(to right, #e4353a 0%, #c2161b 100%);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.spl_law_feature_services .feature_service h4 a {
    color: #333333;
    margin-bottom: 15px;
    margin-top: 80px;
    display: block;
    overflow: hidden;
    transition: all 0.5s ease;
}

.spl_law_feature_services .feature_service:hover {
    background: #c2161b;
    color: #fff;
}

.spl_law_feature_services .feature_service:hover i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    background: #fff;
    color: #c2161b;
    height: 100px;
    width: 100px;
    font-size: 40px;
    line-height: 100px;
}

.spl_law_feature_services .feature_service:hover h4 a {
    color: #fff;
    margin-top: 180px;
}

.spl_law_feature_services .feature_service:hover p {
    display: none;
}

/*--------------------------------------------------------------
##  About section
--------------------------------------------------------------*/
.spl_law_about_front .row > div {
    align-self: center;
}

.spl_law_about_front {
    background: #1e1e1e;
}

.spl_law_about_front .img_background {
    min-height: 500px;
}

.spl_law_about_front h2 {
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
    display: block;
}

.spl_law_about_front h3 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #cfa463;
    font-weight: 400;
}

.spl_law_about_front p {
    font-size: 18px;
}

.spl_law_about_front .address-info ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.spl_law_about_front .address-info ul li {
    float: left;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 49%;
    color: #787878;
    list-style-type: none;
}

.spl_law_about_front .address-info ul li:before {
    color: #787878;
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    margin-right: 8px;
    font-weight: 700;
}

.spl_law_about_front .address-info ul li:last-child {
    border-bottom: medium none;
}

.spl_law_about_front span, .spl_law_about_front .contact {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 22px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #b7b7b7;
}

.spl_law_about_front .contact {
    font-size: 22px;
}

.spl_law_about_front .signature {
    position: relative;
    padding-left: 199px;
}

.spl_law_about_front .signature .signature-img {
    position: absolute;
    left: 0px;
    top: 0px;
}

.spl_law_about_front .signature h4 {
    position: relative;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.spl_law_about_front .signature .designation {
    position: relative;
    color: #7a7a7a;
    font-size: 16px;
    margin-top: 4px;
}

.spl_law_about_front figure img {
    -webkit-clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0% 100%);
    clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0% 100%);
    transition: all 0.3s ease;
}

.spl_law_about_front figure:hover img {
    transform: scale(1.02);
}

/*--------------------------------------------------------------
##  Practise area
--------------------------------------------------------------*/
.spl_law_practise_area .row > div {
    align-self: center;
}

.spl_law_practise_area .practise_area .icon-area {
    font-size: 30px;
    width: 85px;
    height: 85px;
    -webkit-box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
    box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
    border-radius: 50px;
    margin: auto auto 30px;
    padding: 21px 5px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    line-height: 1.5;
}

.spl_law_practise_area .practise_area {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    padding: 90px 30px 30px;
    text-align: center;
    transition: all ease 0.4s;
}

.spl_law_practise_area .practise_area:before {
    content: "";
    width: 1px;
    height: 170px;
    display: block;
    background: #6d49bf;
    opacity: 0.14;
    position: absolute;
    top: 55px;
    left: 50px;
}

.spl_law_practise_area .practise_area:after {
    content: "";
    width: 170px;
    height: 1px;
    display: block;
    background: #6d49bf;
    opacity: 0.14;
    position: absolute;
    top: 75px;
    left: 30px;
}

.spl_law_practise_area .practise_area h3 a {
    color: #e4353a;
}


.spl_law_practise_area .practise_area:hover .icon-area {
    background: #FFF;
    color: #e4353a;
}

.spl_law_practise_area .practise_area:hover {
    background: #c2161b;
}

.spl_law_practise_area .practise_area:hover h3 a, .spl_law_practise_area .practise_area:hover p {
    color: #FFF;
}

.spl_law_practise_area .practise_area:hover:before, .spl_law_practise_area .practise_area:hover:after {
    background: #FFF;
}

/*--------------------------------------------------------------
##  Case Study
--------------------------------------------------------------*/
.spl_law_case_study {
    background: #FFF;
}

.spl_law_case_study ul li {
    display: inline;
}

.spl_law_case_study .image-list {
    margin-bottom: 30px;
    position: relative;
}

.spl_law_case_study ul li {
    margin-right: 6px;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 1px 21px;
    border-radius: 50px;
    display: inline-block;
}

.spl_law_case_study ul li.active {
    background: #e4353a;
    border: 1px solid #e4353a;
}

.spl_law_case_study ul li button {
    background: transparent;
    color: #e4353a;
    display: inline-block;
    padding: 0;
    outline: 0;
    cursor: pointer;
}

.spl_law_case_study ul li.active button {
    background: #e4353a;
    color: #FFF;
}

.portfolio-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 0;
    padding: 10%;
    position: absolute;
    text-align: center;
    top: 0;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 2;
}

.image-list:hover .portfolio-overlay {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.image-list:hover .portfolio-overlay::before {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 80%;
    -webkit-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -moz-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -ms-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    -o-transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    transition: width 0.1s ease 0.5s, height 0.1s ease 0.6s;
    width: 80%;
}

.portfolio-overlay::before {
    border-width: 0;
    content: "";
    height: 0;
    left: 10%;
    position: absolute;
    top: 10%;
    -webkit-transition: height 0.5s ease 0.15s;
    -moz-transition: height 0.5s ease 0.15s;
    -ms-transition: height 0.5s ease 0.15s;
    -o-transition: height 0.5s ease 0.15s;
    transition: height 0.5s ease 0.15s;
    width: 0;
    z-index: 3;
}

.image-list:hover .portfolio-overlay::after {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 80%;
    -webkit-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -moz-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -ms-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    -o-transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    transition: width 0.1s ease 0.7s, height 0.1s ease 0.8s;
    width: 80%;
}

.portfolio-overlay::after {
    border-width: 0;
    bottom: 10%;
    content: "";
    height: 0;
    position: absolute;
    right: 10%;
    -webkit-transition: width 0.1s ease 0.2s;
    -moz-transition: width 0.1s ease 0.2s;
    -ms-transition: width 0.1s ease 0.2s;
    -o-transition: width 0.1s ease 0.2s;
    transition: width 0.1s ease 0.2s;
    width: 0;
    z-index: 3;
}

.portfolio-overlay-inner {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.portfolio-overlay-content {
    display: table-cell;
    vertical-align: middle;
}

.portfolio-link {
    margin: .5rem 0 10px;
}

.portfolio-link a {
    color: #cfa468;
    font-size: 16px;
    display: inline-block;
    margin: 5px;
    padding: 6px 10px;
    border: 1px solid #cfa468;
    border-radius: 5px;
}

.portfolio-overlay p, .portfolio-overlay a {
    position: relative;
    z-index: 4;
}

.portfolio-caption {
    padding: 0 10px;
    margin: 0 0 .5rem;
}

.portfolio-caption h3 {
    line-height: 1.48;
    font-size: 16px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
##  Contact Detail
--------------------------------------------------------------*/
.spl_law_contact_detail {
    position: relative;
}

.spl_law_contact_detail h2 {
    color: #FFF;
}

.spl_law_contact_detail p {
    color: #FFF;
    margin-bottom: 40px;
}

.spl_law_contact_detail .call-us {
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}

.spl_law_contact_detail .call-us i {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #FFF;
    background: #FFF;
    text-align: center;
    color: #cfa463;
    line-height: 46px;
    margin-right: 15px;
    border-radius: 3px;
    float: left;
}

.spl_law_contact_detail .contact_info_detail {
    float: left;
    width: calc(100% - 65px);
    display: block;
    color: #FFF;
}

.spl_law_contact_detail .contact_info_detail h4 {
    font-size: 20px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
}

.spl_law_contact_detail .contact_info_detail span {
    font-size: 15px;
}

.spl_law_contact_detail .call-us.mail-us {
    margin-bottom: 0px;
}

.spl_law_contact_detail .contact_form .wpcf7 label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 100%;
}

.spl_law_contact_detail .contact_form .wpcf7 span {
    width: 100%;
}

.spl_law_contact_detail .contact_form .wpcf7 .wpcf7-textarea {
    height: 200px;
}

.spl_law_contact_detail .contact_form .wpcf7 p {
    margin-bottom: 0;
}

.spl_law_contact_detail .contact_form {
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
}

.spl_law_contact_detail .contact_form .wpcf7 input,
.spl_law_contact_detail .contact_form .wpcf7 .wpcf7-textarea {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 15px;
    color: #968c8c;
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 15px 20px;

}

.spl_law_contact_detail .contact_form .wpcf7 input {
    height: 50px;
}

.spl_law_contact_detail .contact_form .wpcf7 .wpcf7-textarea {
    height: 150px;
}

.spl_law_contact_detail .contact_form .wpcf7 input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 0px;
    transition: all .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background-color: #e4353a;
    border: 1px solid #e4353a;
}


.spl_law_contact_detail .contact_form .wpcf7 input[type="submit"]:hover {
    background-color: #cfa463;
    border: 1px solid #cfa463;
    opacity: 1;
}

/*--------------------------------------------------------------
##  Frequently asked questions
--------------------------------------------------------------*/
.spl_law_video .video {
    position: relative;
    -webkit-clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0% 100%);
    clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0% 100%);
}

.spl_law_video .button-video {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}
.spl_law_video .img_background{
    min-height: 450px;
}
.accordion-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
}

.set > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 1px solid #ddd;
}

.set > a i {
    float: right;
    margin-top: 2px;
}

.set > a:after {
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    background: #575656;
    width: 30px;
    padding: 3px 0;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    text-decoration: none;
}

.set > a.active:after {
    content: '\f068';
    background: #FFF;
    color: #e4353a;
}

.set > a.active {
    background-color: #e4353a;
    color: #fff;
}

.content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
}

/*--------------------------------------------------------------
##  Team section
--------------------------------------------------------------*/
.spl_law_team .row > div {
    align-self: center
}

.spl_law_team .team-title a {
    color: #232529;
}

.spl_law_team .team-title a:hover {
    color: #cfa463;
}

.team-box {
    margin-bottom: 30px;
}

.team-box .team-image {
    z-index: 1;
    position: relative;
    clip-path: polygon(19% 0, 100% 0%, 85% 100%, 4% 100%);
}

.team-box .team-image .img_background{
    min-height: 400px;
}

.team-box .team-image .member-img {
    position: relative;
    top: 10px;
    left: 10px;
    transition: 0.5s;
    z-index: 9;
}

.team-box .team-image .back-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.team-box .team-image .social-links {
    position: absolute;
    right: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 35px;
}

.team-box .team-image .social-links li {
    display: block;
    margin-bottom: 5px;
}

.team-box .team-image .social-links li a {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    color: #e4353a;
    display: inline-block;
    transition: all 0.3s ease;
}

.team-box .team-image .social-links li a:hover {
    background: #e4353a;
    border-color: #e4353a;
    color: #fff;
}

.team-box .team-image .social-links li:last-child {
    margin-bottom: 0;
}

.team-box .team-content {
    margin-top: 40px;
}

.team-box .team-content h3 {
    font-size: 22px;
    margin-bottom: 9px;
}

.team-box .team-content span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #e4353a;
}

.team-box:hover .team-image .social-links {
    opacity: 1;
    visibility: visible;
    right: 20px;
}

.spl_law_team .owl-dots {
    position: absolute;
    right: 0px;
}

.spl_law_team .owl-dots .owl-dot span {
    backface-visibility: visible;
    background: #8e93a0 none repeat scroll 0 0;
    display: block;
    height: 5px;
    margin: 10px 5px;
    outline: medium none;
    transition: opacity 0.2s ease 0s;
    width: 25px;
}

.spl_law_team .owl-dot.active span {
    background: #1E2841;
}

.spl_law_team .owl-nav .owl-prev, .spl_law_team .owl-nav .owl-next {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 20px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    outline: 0;
    bottom: -15px;
}

.spl_law_team .owl-nav .owl-prev {
    right: 45px;
}

.spl_law_team .owl-nav .owl-next {
    right: 0;
}

.spl_law_team .owl-nav i {
    font-size: 40px;
}

/*--------------------------------------------------------------
##  Testimonial
--------------------------------------------------------------*/
.spl_law_testimonial {
    position: relative;
}

.spl_law_testimonial .row > div {
    align-self: center;
}

.spl_law_testimonial .testimonial_inner {
    background: #ffffff;
    padding: 25px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}

.spl_law_testimonial p {
    color: #FFF;
}

.spl_law_testimonial .testimonial_inner p {
    color: #333;
}

.spl_law_testimonial .testimonial_inner .testimonial_author {
    margin-top: 20px;
    padding-left: 65px;
    position: relative;
    display: inline-block;
}

.spl_law_testimonial .testimonial_inner .author_image {
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 999px;
    position: absolute;
    left: 0;
    top: 0;
}

.spl_law_testimonial .testimonial_inner h5 {
    margin-bottom: 0;
}

.spl_law_testimonial .testimonial_inner .testimonial_author p {
    margin-bottom: 0;
    font-size: 15px;
}

.spl_law_testimonial .testimonial_inner i {
    font-size: 150px;
    color: #ededed;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.spl_law_testimonial .owl-nav button.owl-next, .spl_law_testimonial .owl-nav button.owl-prev {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 9px 4px 6px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    outline: 0;
    bottom: -42px;
}

.spl_law_testimonial .owl-nav .owl-prev {
    right: 55px;
}

.spl_law_testimonial .owl-nav .owl-next {
    right: 0;
}

.spl_law_testimonial .owl-nav i {
    font-size: 30px;
}

/*--------------------------------------------------------------
##  Blog
--------------------------------------------------------------*/

.blog_list_post .img_background{
    min-height: 200px;
}

.blog_list_post ul li {
    list-style-type: none;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.blog_list_post .box-conetnt{
    padding: 15px 15px 15px 47px;
    background: #FFF;
    position: relative;
}

.blog_list_post h3 {
    color: #000;
    margin-bottom: 15px;
    font-size: 18px;
}

.blog_list_post h3 a{
    color: #000;
}

article.blog_list_post{
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

article.blog_list_post .img_background {
    min-height: 400px;
}
.blog article.blog_list_post .img_background {
    min-height: 250px;
}
.blog_list_post .post_meta {
    margin-bottom: 0;
    color: #717171;
}
.blog_list_post .box-conetnt p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #717171;
    font-size: 14px;
}

.blog_list_post_content {
    padding-left: 30px;
}

.post-info-date {
    position: absolute;
    top: 10%;
    left: -23px;
    width: 60px;
    text-align: center;
    bottom: 0;
    margin: auto 0;
}

.blog .post-info-date-day {
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
}

.post-info-date-day {
    display: block;
    background-color: #353c4e;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
}

.post-info-date-month {
    display: block;
    background-color: #c18f59;
    color: #fff;
    font-size: 21px;
    line-height: 32px;
}

/*-------------------------------------
* comment form
------------------------------------------*/
#respond {
    clear: both;
    display: block;
    margin-top: 50px;
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

#respond input[type="text"], #respond input[type="email"], #respond input[type="url"], #respond input[type="password"], #respond input[type="search"], #respond input[type="number"], #respond input[type="tel"], #respond input[type="range"], #respond input[type="date"], #respond input[type="month"], #respond input[type="week"], #respond input[type="time"], #respond input[type="datetime"], #respond input[type="datetime-local"], #respond input[type="color"], #respond textarea {
    background: #f5f5f5;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 45px;
    padding: 0 15px;
    color: #3d3a3a;

}

#respond textarea {
    height: 200px;
}

.comments-area {
    margin-top: 40px;
}

#respond .form-submit .submit {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #cf9455;
    text-align: center;
    background: #cf9455;
    color: #FFF;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

ol.comment-list {
    clear: both;
    display: block;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

ol.comment-list li {
    list-style-type: none
}

.vcard .avatar {
    float: left;
    margin-right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.comments-area .fn {
    display: inline-block;
    font-size: 14px;
    color: #ff565c;
}

.reply a {
    color: #ff565c;
}

.comment-metadata a {
    color: #8b8b89;
}

.comments-title, .comment-reply-title {
    font-size: 20px;
}
/*--------------------------------------------------------------
## Footer Widget
--------------------------------------------------------------*/
.site-footer {
    background: #191818;
    color: #fff;
}

.upper-footer .row {
    padding: 50px 0 20px 0;
    position: relative;
}

.site-footer .widget {
    margin: 2em 0;
}

.site-footer .widget .widget-title {
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #cfa468;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}

/*.site-footer .widget .widget-title:before {
    height: 3px;
    content: "";
    position: absolute;
    width: 60px;
    background: #e4353a;
    bottom: 0;
    left: 0;
}

.site-footer .widget .widget-title:after {
    height: 3px;
    content: "";
    position: absolute;
    width: 15px;
    background: #fff;
    bottom: 0;
    left: 67px;
}*/

.site-footer .widget ul,
.widget_tag_cloud .tagcloud {
    padding: 0;
}

.site-footer .widget ul li {
    border-bottom: 1px dotted rgba(239, 239, 239, 0.1);
    margin-bottom: 0;
}

.site-footer .widget ul li:last-child {
    border: 0;
}

.site-footer .widget ul li,
.site-footer .widget ul li a,
.site-footer .widget a,
.site-footer .widget ul li:before,
.site-footer .widget a::before,
.site-footer .calendar_wrap table td,
.site-footer .calendar_wrap table th {
    color: #fff;
}

.site-footer .widget a:hover,
.site-footer .widget a:hover::before,
.site-footer .widget li:hover::before {
    color: #e4353a;
}

.site-footer .widget_recent_entries a {
    padding-left: 15px;
}

/*--------------------------------------------------------------
## Sub Footer Copyright & Social Icon
--------------------------------------------------------------*/
.lower-footer {
    position: relative;
}

.lower-footer .row {
    padding: 20px 0;
    position: relative;
}

.lower-footer .row > div {
    align-self: center;
}

.lower-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.lower-footer .copyright {
    display: block;
    margin: 0;
    color: #FFF;
}

.lower-footer ul.social-media {
    text-align: right;
    padding: 6px 0 3px 0;
    margin: 0;
}

.lower-footer ul li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 15px;
    height: 26px;
    color: #f6f5f5;
}

.back-to-top {
    background-color: #1d1d1d;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
    position: absolute;
    z-index: 999;
    left: calc(50% - 22.5px);
    top: -22.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    color: #cfa468;
}



/*-------------------------------------------
# Breadcrumbs section
--------------------------------------------*/

.breadcrumb {
    padding: 30px 0px 13px 0px;
    margin-bottom: 50px;
    background-size: cover;
    background: #06284a;
    position: relative;
}

.breadcrumb.transparent_header_breadcrumb {
    padding: 80px 0px 13px 0px;

}

.breadcrumb_wrapper {
    height: 100px;
    display: table;
}

.breadcrumb h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 110%;
    text-transform: capitalize;
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb nav {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb ul {
    text-align: right;
    color: #FFF;
    padding: 0;
    margin: 0;
}

.breadcrumb ul li {
    display: inline;
    font-size: 16px;
    color: #cf9455;
    font-weight: 500;
}

.breadcrumb ul li a {
    color: #FFF;
    transition: 0.8s ease;
}

.breadcrumb ul li a:after {
    content: ">";
    color: #FFF;
    padding: 0px 8px;
    position: relative;
    top: 1px;
}

.breadcrumb ul li:last-child a:after {
    content: "";

}

/*
## Breadcrumbs layout two
*/

.breadcrumb.layout_two, .breadcrumb.layout_three, .breadcrumb.layout_four {
    padding: 30px 0px 13px 0px;
    margin-bottom: 0px;
    background-size: cover;

}

.breadcrumb.layout_two h2, .breadcrumb.layout_two nav, .breadcrumb.layout_four nav,
.breadcrumb.layout_three h2, .breadcrumb.layout_three nav, .breadcrumb.layout_four h2 {
    display: block;
}

.breadcrumb.layout_two ul {
    text-align: left;
    padding: 0;
    margin: 0;
}

.breadcrumb.layout_three ul {
    text-align: center;
}

.breadcrumb.layout_three h2 {
    text-align: center;
}

.breadcrumb.layout_four ul {
    text-align: right;
}

.breadcrumb.layout_four h1 {
    text-align: right;
}
/*---------------------------------------------------------------------------
## Pro Features From Start
-----------------------------------------------------------------------------*/
.top_bar_right .btn_type_two {
    float: right;
}

.btn_type_two {
    display: inline-block;
    border-radius: 3px;
    margin-top: 2px;
}

.btn_text {
    padding: 8px 16px;
    background-color: #cf9455;
    color: #fff;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn_icon {
    padding: 8px 16px;
    background-color: #a16e37;
    color: #fff;
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.spl_law_top_bar span.btn_text, .spl_law_top_bar span.btn_icon {
    color: #FFF
}

header.layout_two .spl_law_main_header .site-branding h1 a span {
    color: #cf9455;
}

/*---\
 #Shine
  -----*/
.img_background {
    position: relative;
}

.shine.img_background::before {
    position: absolute;
    top: 0;
    left: -81%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.img_background:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/*--------------------------------------------------------
## Section Title
---------------------------------------------------------*/

.layout_two section {
    padding: 60px 0;
    border-bottom:2px solid #cfa463;
}

.section-title-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.section-title-two {
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.section-title-two span {
    display: block;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #9c9a9a;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------
## Center Header layout
---------------------------------------------------------*/
.header-center .spl_law_main_header .column-left-icon {
    width: 100%;
    text-align: center;
}

.header-center .spl_law_main_header .column-right-navigation {
    width: 98%;
}

.header-center .spl_law_main_header .column-right-navigation .menu {
    float: none;
    text-align: center;
}

.header-center .spl_law_main_header .site-branding h1 {
    margin-top: 5px;
}

.header-center .spl_law_top_bar {
    background: #282e3f;
    border-bottom: 1px solid #282e3f;
}

/*--------------------------------------------------------------------
* Feature Layout Two
-------------------------------------------------------------------------*/

.spl_law_feature_layout_two {

}

.spl_law_feature_layout_two .feature-list .box {
    display: flex;
    align-items: center;
}

.spl_law_feature_layout_two .feature-list .box .icon-box {
    width: 150px;
    font-size: 80px;

}

.spl_law_feature_layout_two .feature-list .box h3 {
    margin-bottom: 5px;
}

.spl_law_feature_layout_two .feature-list .box h3 a {
    font-size: 20px;
}

/*--------------------------------------------------------------------
* About section Layout Two
-------------------------------------------------------------------------*/
.spl_law_about_layout_two {
    background-position: 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    background-size: cover;
    position: relative;
}

.spl_law_about_layout_two h2 {
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
    display: block;
}

.spl_law_about_layout_two h3 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #cfa463;
    font-weight: 400;
}

.spl_law_about_layout_two .address-info ul {
    padding: 0;
    margin: 0;
}

.spl_law_about_layout_two .address-info ul li {
    border-bottom: 1px solid #676664;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #cfa463;
}

.spl_law_about_layout_two .address-info ul li:last-child {
    border-bottom: medium none;
}

.spl_law_about_layout_two .achivement-items {
    margin-top: 30px;
}

.spl_law_about_layout_two p {
    font-size: 16px;
}

.spl_law_about_layout_two .achivement-items ul {
    padding: 0;
    margin: 0;
}

.spl_law_about_layout_two .achivement-items ul li {
    border-bottom: medium none navy;
    border-right: 1px solid #f4f4f4;
    display: inline-block;
    margin-right: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.spl_law_about_layout_two .achivement-items ul li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 5px;
}

.spl_law_about_layout_two .achivement-items .timer {
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.spl_law_about_layout_two .achivement-items .timer::after {
    color: #cfa468;
    content: "+";
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    right: -15px;
    top: 12px;
}

.spl_law_about_layout_two .achivement-items .medium {
    display: block;
    font-size: 16px;
    color: #FFF;
}

.spl_law_about_layout_two .icon-box, .spl_law_about_layout_two .icon-box {
    float: left;
    width: 70px;
    font-size: 35px;
    color: #86bc42;
    margin-top: 20px;
}

.spl_law_about_layout_two h4, .spl_law_about_layout_two h4 {
    color: #222;
    font-size: 18px;
}

.spl_law_about_layout_two .text, .spl_law_about_layout_two .text {
    float: left;
    width: calc(100% - 70px);
    margin-top: 20px;
}

.spl_law_about_layout_two .icon-box, .spl_law_about_layout_two .text, .spl_law_about_layout_two .icon-box, .spl_law_about_layout_two .text {
    display: inline-block;
}

.spl_law_about_layout_two .img_background {
    min-height: 500px;
}

.spl_law_about_layout_two.layout_three .img_background {
    min-height: 350px;
}

/*
#   about section Layout Three
*/

.spl_law_about_layout_two.layout_three h2 {
    margin-bottom: 30px;
    color: #cfa463;
    font-weight: 400;
}

.spl_law_about_layout_two.layout_three p {
    font-size: 16px;
    color: #FFF;
}

/*--------------------------------------------------------------------
* Practise Area Layout Two
-------------------------------------------------------------------------*/

.spl_law_practise_area.layout_two .practise_area {
    box-shadow: none;
    margin-top: 0;
    padding: 0;
}

.spl_law_practise_area.layout_two .practise_area .img-background-wrapper {
    margin-bottom: 20px;
}

.spl_law_practise_area.layout_two .practise_area h3 a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000;
}

.spl_law_practise_area.layout_two .practise_area h3 {
    margin-bottom: 10px;
}

.spl_law_practise_area.layout_two .practise_area .img_background {
    min-height: 150px;
    width: 150px;
    border-radius: 50%;
}

.spl_law_practise_area.layout_two .practise_area:before, .spl_law_practise_area.layout_two .practise_area:after {
    content: none;
}

.spl_law_practise_area.layout_two .practise_area:hover {
    background: #FFF;
}

.spl_law_practise_area.layout_two .practise_area:hover h3 a, .spl_law_practise_area.layout_two .practise_area:hover p {
    color: inherit;
}


.spl_law_practise_area.layout_three .practise_area {
    margin-top: 30px;
    box-shadow:none;
    text-align: left;
    transition: all ease 0.4s;
    position: relative;
    background: #ffffff;
    margin-bottom: 40px;
    padding: 30px 45px 30px 45px;
    border: 1px solid #ececec;
}

.spl_law_practise_area.layout_three .practise_area:before,.spl_law_practise_area.layout_three .practise_area:after{
    content: none;
}
.spl_law_practise_area.layout_three .practise_area:hover {
    background: inherit;
}
.spl_law_practise_area.layout_three .practise_area:hover h3 a{
    color: #cfa468;
}
.spl_law_practise_area.layout_three .practise_area:hover .icon-area {
    background: #FFF;
    color: #cfa468;
}

.spl_law_practise_area.layout_three .practise_area:hover p{
    color: inherit;
}

.spl_law_practise_area.layout_three .practise_area .icon-area {
    font-size: 48px;
    width: 85px;
    height: 85px;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 21px 5px 31px 5px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: left;
    line-height: 1.5;
}
.spl_law_practise_area.layout_three .practise_area h3 a {
    color: #cfa468;
    font-size: 20px;
}
/*-------------------------------------------------------------------------
## Team layout Two
---------------------------------------------------------------------------*/
.spl_law_cs_team {
    margin: 0;
    padding: 90px 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background: #222631;
}

.spl_law_cs_team .section-title-two {
    color: #FFF;
}

.spl_law_cs_team .team_inner figure {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    border: none;
}

.spl_law_cs_team .team_inner figure:hover {
    bottom: -36px;
    opacity: 1;
}

/* Gray Scale */
.spl_law_cs_team .team_inner figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.spl_law_cs_team .team_inner h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    color: #cfa468;
}

.spl_law_cs_team .team_inner span {
    text-align: center;
    display: block;
    color: #FFF;
}

.spl_law_cs_team .owl-carousel .owl-nav button.owl-next, .spl_law_cs_team .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 20%;
    opacity: 1;
    color: #000;
    font-size: 30px;
    margin: 5px;
    padding: 8px 12px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
}

.spl_law_cs_team .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
}

.spl_law_cs_team .owl-carousel .owl-nav button.owl-next {
    right: 0px;
}


.spl_law_cs_team .team_inner figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* Gray Scale */

.spl_law_cs_team.layout_three .team_inner figure img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.spl_law_cs_team.layout_three .team_inner {
    display: flex;
}

.spl_law_cs_team.layout_three .team-image, .spl_law_cs_team.layout_three .team-info {
    width: 50%;
}

.spl_law_cs_team.layout_three .team-info {
    padding: 30px;
    background: #FFF;
}

.spl_law_cs_team.layout_three .team_inner .team-info h4 {
    text-align: left;
}

.spl_law_cs_team.layout_three .team_inner .team-info span {
    text-align: left;
    color: #000;
    margin-bottom: 15px;
}

.spl_law_cs_team.layout_three .team_inner figure {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    border: none;
}
.spl_law_cs_team.layout_three .team_inner .img_background{
    min-height: 360px;
    max-height: 360px;
}

.spl_law_cs_team.layout_three .owl-carousel .owl-nav button.owl-next, .spl_law_cs_team.layout_three .owl-carousel .owl-nav button.owl-prev {

    top: 40%;
}

ul.team_social_icon {
    padding: 0;
    margin: 0;
}

ul.team_social_icon li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 15px;
    height: 26px;
    color: #f6f5f5;
}

ul.team_social_icon li a {
    color: #fff;
    background: #464a4d;
    padding: 2px 7px;
    border-radius: 2px;
    transition: all 0.4s ease;
}

ul.team_social_icon li a:hover {
    color: #FFF;
    background: #e4353a;
}

/*--------------------------------------------------------------------------------
## Video
----------------------------------------------------------------------------------*/
.spl_law_video_bg {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    background-size: cover;
    background-position: center;
}

.spl_law_video_bg .row > div {
    display: flex;
    align-self: center;

}

video.video-fluid {
    width: 100%;
    position: absolute;
    top: -175px;
}

.video_text h2 {
    color: #FFF;
}

.video_text p {
    color: #FFF;
}


/******************
*  Who we are
********************/
.spl_law_who_are_we {
    background: #f5f8f9;
}

.spl_law_who_are_we h4 {
    color: #000;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 15px;
    font-weight: 700;
}

.spl_law_who_are_we h4 span {

    font-size: 25px;
    line-height: 44px;
    margin-bottom: 0px;
    margin-top: 18px;
    font-weight: 700;
}

/******************
* Skills
********************/
.progres_bar {
    margin-top: 10px;
}

.skill {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

}

.skill > p {
    font-size: 14px;
    font-weight: 300;
    color: #1a1716;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #d8d8d8;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 5px;
    background: #c18f59;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    top: -30px;
    font-size: 14px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;

}

.skill-count {
    right: 0;
}

/*---------------------------------------------------------------
## Video Faq section Layout Two
-----------------------------------------------------------------*/
.spl_law_video.layout_two {

}

.spl_law_video.layout_two .video {
    clip-path: none;
}

.spl_law_video.layout_two .img_background {
    min-height: 400px;
}

.spl_law_video.layout_two .box-shadow-ripples {
    background: #c18f59;
}

.layout_two .set > a.active {
    background-color: #c18f59;
}

.layout_two .set > a.active:after {
    color: #c18f59;
}
/*
# Layout Three
*/
.spl_law_video.layout_two.layout_three{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background: #222631;
}
.spl_law_video.layout_two.layout_three .img_background {
    min-height: 600px;
}
.spl_law_video.layout_two.layout_three .content-descritpion{
    padding: 40px 30px;
    max-width: 700px;
}
.spl_law_video.layout_two.layout_three .content-descritpion h2{
    color: #cf9455;
}
.spl_law_video.layout_two.layout_three .content-descritpion p{
    color: #FFF;
}
.spl_law_video.layout_two.layout_three .row>div{
    align-self: center;
}

/*---------------------------------------------------------------------------
## Contact Deatil  button color
-----------------------------------------------------------------------------*/
.spl_law_contact_detail.layout_two .contact_form .wpcf7 input[type="submit"] {
    background-color: #cf9455;
    border: 1px solid #cf9455;
}

.spl_law_contact_detail.layout_two .contact_form .wpcf7 input[type="submit"]:hover {
    background-color: #a16e37;
    border: 1px solid #a16e37;
}

/*----------------------------------------------------------------------------------
## Case Study Color
------------------------------------------------------------------------------------*/

.spl_law_case_study.layout_two ul li.active {
    background: #cf9455;
    border: 1px solid #cf9455;
}

.spl_law_case_study.layout_two ul li button {
    color: #cf9455;
}

.spl_law_case_study.layout_two ul li.active button {
    background: #cf9455;
    color: #FFF;
}

/*----------------------------------------------------------------------------------
## Transparent Header
------------------------------------------------------------------------------------*/

/*transparent header*/
.transparent_header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
}

.transparent_header .spl_law_top_bar {
    background: transparent;
    border-bottom: 1px solid #FFF;
}

.transparent_header .column-button-search a {
    color: #FFF;
}

.transparent_header .spl_law_main_header {
    background: transparent;
    color: #FFF;
}

.transparent_header .spl_law_main_header .site-branding h1 a {
    color: #FFF;
}

.transparent_header .spl_law_main_header .site-branding p {
    color: #FFF;
}

.transparent_header .main-navigation ul.nav-menu > li > a {
    color: #FFF;
}

.transparent_header .main-navigation div > ul > li.menu-item-has-children:before {
    color: #FFF;
}



/***********
*
*   Testimonials
************/
.spl_law_testimonial_layout_two {
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.spl_law_testimonial_layout_two .item {
    text-align: center;
}

.spl_law_testimonial_layout_two .client-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #cf9455;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.spl_law_testimonial_layout_two p {
    opacity: .8;
    max-width: 800px;
    margin: 30px auto;
}

.spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-next, .spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    transition: all 0.5s ease;
}

.spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-next,
.spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 20px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    outline: 0;
}

.spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.spl_law_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.spl_law_testimonial_layout_two .client-text h3 {
    margin-bottom: 0px;
    color: #cf9455;
    font-size: 20px;
}

.spl_law_testimonial_layout_two h4 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


/*----------------------------------------------------------------------------------
## Feature layout three
------------------------------------------------------------------------------------*/

.spl_law_feature_layout_two.layout_three {
    background: #f5f8f9;
    padding-top: 90px;

}

.spl_law_feature_layout_two.layout_three .feature-list .box .icon-box {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    background: #FFF;
    left: 0;
    right: 0;
    top: -50px;
    font-size: 66px;
    border-radius: 50%;
    border: 8px solid #f5f8f9;
    line-height: 1.2;
}

.spl_law_feature_layout_two.layout_three .feature-list .box {
    padding-top: 60px;
}

.spl_law_feature_layout_two.layout_three .feature-list {
    display: inline-block;
    background: none;
}

.spl_law_feature_layout_two.layout_three .feature-list .box {
    text-align: center;
    background: #FFF;
}

.spl_law_feature_layout_two .feature-list .box h3 {
    margin-bottom: 15px;
}


/*---------------------------------------------------------
## Call To Action
-----------------------------------------------------------*/
.spl_law_call_to_action{
    background: #222631;
    padding: 40px 0;
}

.spl_law_call_to_action h3{
    color:#cf9455;
    margin-bottom: 5px;
}
.spl_law_call_to_action p{
    margin-bottom: 0;
    color: #FFF;
}