/*! 
* @package IcoFont 
* @version 1.0.1 
* @author IcoFont https://icofont.com 
* @copyright Copyright (c) 2015 - 2019 IcoFont 
* @license - https://icofont.com/license/
*/

@font-face
{
 
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("./fonts/icofont.woff2") format("woff2"),
url("./fonts/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-arrow-down:before
{
  content: "\ea5b";
}

.icofont-arrow-left:before
{
  content: "\ea5c";
}

.icofont-arrow-right:before
{
  content: "\ea5d";
}

.icofont-arrow-up:before
{
  content: "\ea5e";
}

.icofont-block-down:before
{
  content: "\ea5f";
}

.icofont-block-left:before
{
  content: "\ea60";
}

.icofont-block-right:before
{
  content: "\ea61";
}

.icofont-block-up:before
{
  content: "\ea62";
}

.icofont-bubble-down:before
{
  content: "\ea63";
}

.icofont-bubble-left:before
{
  content: "\ea64";
}

.icofont-bubble-right:before
{
  content: "\ea65";
}

.icofont-bubble-up:before
{
  content: "\ea66";
}

.icofont-caret-down:before
{
  content: "\ea67";
}

.icofont-caret-left:before
{
  content: "\ea68";
}

.icofont-caret-right:before
{
  content: "\ea69";
}

.icofont-caret-up:before
{
  content: "\ea6a";
}

.icofont-circled-down:before
{
  content: "\ea6b";
}

.icofont-circled-left:before
{
  content: "\ea6c";
}

.icofont-circled-right:before
{
  content: "\ea6d";
}

.icofont-circled-up:before
{
  content: "\ea6e";
}

.icofont-collapse:before
{
  content: "\ea6f";
}

.icofont-cursor-drag:before
{
  content: "\ea70";
}

.icofont-curved-double-left:before
{
  content: "\ea71";
}

.icofont-curved-double-right:before
{
  content: "\ea72";
}

.icofont-curved-down:before
{
  content: "\ea73";
}

.icofont-curved-left:before
{
  content: "\ea74";
}

.icofont-curved-right:before
{
  content: "\ea75";
}

.icofont-curved-up:before
{
  content: "\ea76";
}

.icofont-dotted-down:before
{
  content: "\ea77";
}

.icofont-dotted-left:before
{
  content: "\ea78";
}

.icofont-dotted-right:before
{
  content: "\ea79";
}

.icofont-dotted-up:before
{
  content: "\ea7a";
}

.icofont-double-left:before
{
  content: "\ea7b";
}

.icofont-double-right:before
{
  content: "\ea7c";
}

.icofont-expand-alt:before
{
  content: "\ea7d";
}

.icofont-hand-down:before
{
  content: "\ea7e";
}

.icofont-hand-drag:before
{
  content: "\ea7f";
}

.icofont-hand-drag1:before
{
  content: "\ea80";
}

.icofont-hand-drag2:before
{
  content: "\ea81";
}

.icofont-hand-drawn-alt-down:before
{
  content: "\ea82";
}

.icofont-hand-drawn-alt-left:before
{
  content: "\ea83";
}

.icofont-hand-drawn-alt-right:before
{
  content: "\ea84";
}

.icofont-hand-drawn-alt-up:before
{
  content: "\ea85";
}

.icofont-hand-drawn-down:before
{
  content: "\ea86";
}

.icofont-hand-drawn-left:before
{
  content: "\ea87";
}

.icofont-hand-drawn-right:before
{
  content: "\ea88";
}

.icofont-hand-drawn-up:before
{
  content: "\ea89";
}

.icofont-hand-grippers:before
{
  content: "\ea8a";
}

.icofont-hand-left:before
{
  content: "\ea8b";
}

.icofont-hand-right:before
{
  content: "\ea8c";
}

.icofont-hand-up:before
{
  content: "\ea8d";
}

.icofont-line-block-down:before
{
  content: "\ea8e";
}

.icofont-line-block-left:before
{
  content: "\ea8f";
}

.icofont-line-block-right:before
{
  content: "\ea90";
}

.icofont-line-block-up:before
{
  content: "\ea91";
}

.icofont-long-arrow-down:before
{
  content: "\ea92";
}

.icofont-long-arrow-left:before
{
  content: "\ea93";
}

.icofont-long-arrow-right:before
{
  content: "\ea94";
}

.icofont-long-arrow-up:before
{
  content: "\ea95";
}

.icofont-rounded-collapse:before
{
  content: "\ea96";
}

.icofont-rounded-double-left:before
{
  content: "\ea97";
}

.icofont-rounded-double-right:before
{
  content: "\ea98";
}

.icofont-rounded-down:before
{
  content: "\ea99";
}

.icofont-rounded-expand:before
{
  content: "\ea9a";
}

.icofont-rounded-left-down:before
{
  content: "\ea9b";
}

.icofont-rounded-left-up:before
{
  content: "\ea9c";
}

.icofont-rounded-left:before
{
  content: "\ea9d";
}

.icofont-rounded-right-down:before
{
  content: "\ea9e";
}

.icofont-rounded-right-up:before
{
  content: "\ea9f";
}

.icofont-rounded-right:before
{
  content: "\eaa0";
}

.icofont-rounded-up:before
{
  content: "\eaa1";
}

.icofont-scroll-bubble-down:before
{
  content: "\eaa2";
}

.icofont-scroll-bubble-left:before
{
  content: "\eaa3";
}

.icofont-scroll-bubble-right:before
{
  content: "\eaa4";
}

.icofont-scroll-bubble-up:before
{
  content: "\eaa5";
}

.icofont-scroll-double-down:before
{
  content: "\eaa6";
}

.icofont-scroll-double-left:before
{
  content: "\eaa7";
}

.icofont-scroll-double-right:before
{
  content: "\eaa8";
}

.icofont-scroll-double-up:before
{
  content: "\eaa9";
}

.icofont-scroll-down:before
{
  content: "\eaaa";
}

.icofont-scroll-left:before
{
  content: "\eaab";
}

.icofont-scroll-long-down:before
{
  content: "\eaac";
}

.icofont-scroll-long-left:before
{
  content: "\eaad";
}

.icofont-scroll-long-right:before
{
  content: "\eaae";
}

.icofont-scroll-long-up:before
{
  content: "\eaaf";
}

.icofont-scroll-right:before
{
  content: "\eab0";
}

.icofont-scroll-up:before
{
  content: "\eab1";
}

.icofont-simple-down:before
{
  content: "\eab2";
}

.icofont-simple-left-down:before
{
  content: "\eab3";
}

.icofont-simple-left-up:before
{
  content: "\eab4";
}

.icofont-simple-left:before
{
  content: "\eab5";
}

.icofont-simple-right-down:before
{
  content: "\eab6";
}

.icofont-simple-right-up:before
{
  content: "\eab7";
}

.icofont-simple-right:before
{
  content: "\eab8";
}

.icofont-simple-up:before
{
  content: "\eab9";
}

.icofont-square-down:before
{
  content: "\eaba";
}

.icofont-square-left:before
{
  content: "\eabb";
}

.icofont-square-right:before
{
  content: "\eabc";
}

.icofont-square-up:before
{
  content: "\eabd";
}

.icofont-stylish-down:before
{
  content: "\eabe";
}

.icofont-stylish-left:before
{
  content: "\eabf";
}

.icofont-stylish-right:before
{
  content: "\eac0";
}

.icofont-stylish-up:before
{
  content: "\eac1";
}

.icofont-swoosh-down:before
{
  content: "\eac2";
}

.icofont-swoosh-left:before
{
  content: "\eac3";
}

.icofont-swoosh-right:before
{
  content: "\eac4";
}

.icofont-swoosh-up:before
{
  content: "\eac5";
}

.icofont-thin-double-left:before
{
  content: "\eac6";
}

.icofont-thin-double-right:before
{
  content: "\eac7";
}

.icofont-thin-down:before
{
  content: "\eac8";
}

.icofont-thin-left:before
{
  content: "\eac9";
}

.icofont-thin-right:before
{
  content: "\eaca";
}

.icofont-thin-up:before
{
  content: "\eacb";
}

.icofont-addons:before
{
  content: "\eea0";
}

.icofont-address-book:before
{
  content: "\eea1";
}

.icofont-adjust:before
{
  content: "\eea2";
}

.icofont-alarm:before
{
  content: "\eea3";
}

.icofont-anchor:before
{
  content: "\eea4";
}

.icofont-archive:before
{
  content: "\eea5";
}

.icofont-at:before
{
  content: "\eea6";
}

.icofont-attachment:before
{
  content: "\eea7";
}

.icofont-audio:before
{
  content: "\eea8";
}

.icofont-automation:before
{
  content: "\eea9";
}

.icofont-badge:before
{
  content: "\eeaa";
}

.icofont-bag-alt:before
{
  content: "\eeab";
}

.icofont-bag:before
{
  content: "\eeac";
}

.icofont-ban:before
{
  content: "\eead";
}

.icofont-bar-code:before
{
  content: "\eeae";
}

.icofont-bars:before
{
  content: "\eeaf";
}

.icofont-basket:before
{
  content: "\eeb0";
}

.icofont-battery-empty:before
{
  content: "\eeb1";
}

.icofont-battery-full:before
{
  content: "\eeb2";
}

.icofont-battery-half:before
{
  content: "\eeb3";
}

.icofont-battery-low:before
{
  content: "\eeb4";
}

.icofont-beaker:before
{
  content: "\eeb5";
}

.icofont-beard:before
{
  content: "\eeb6";
}

.icofont-bed:before
{
  content: "\eeb7";
}

.icofont-bell:before
{
  content: "\eeb8";
}

.icofont-beverage:before
{
  content: "\eeb9";
}

.icofont-bill:before
{
  content: "\eeba";
}

.icofont-bin:before
{
  content: "\eebb";
}

.icofont-binary:before
{
  content: "\eebc";
}

.icofont-binoculars:before
{
  content: "\eebd";
}

.icofont-bluetooth:before
{
  content: "\eebe";
}

.icofont-bomb:before
{
  content: "\eebf";
}

.icofont-book-mark:before
{
  content: "\eec0";
}

.icofont-box:before
{
  content: "\eec1";
}

.icofont-briefcase:before
{
  content: "\eec2";
}

.icofont-broken:before
{
  content: "\eec3";
}

.icofont-bucket:before
{
  content: "\eec4";
}

.icofont-bucket1:before
{
  content: "\eec5";
}

.icofont-bucket2:before
{
  content: "\eec6";
}

.icofont-bug:before
{
  content: "\eec7";
}

.icofont-building:before
{
  content: "\eec8";
}

.icofont-bulb-alt:before
{
  content: "\eec9";
}

.icofont-bullet:before
{
  content: "\eeca";
}

.icofont-bullhorn:before
{
  content: "\eecb";
}

.icofont-bullseye:before
{
  content: "\eecc";
}

.icofont-calendar:before
{
  content: "\eecd";
}

.icofont-camera-alt:before
{
  content: "\eece";
}

.icofont-camera:before
{
  content: "\eecf";
}

.icofont-card:before
{
  content: "\eed0";
}

.icofont-cart-alt:before
{
  content: "\eed1";
}

.icofont-cart:before
{
  content: "\eed2";
}

.icofont-cc:before
{
  content: "\eed3";
}

.icofont-charging:before
{
  content: "\eed4";
}

.icofont-chat:before
{
  content: "\eed5";
}

.icofont-check-alt:before
{
  content: "\eed6";
}

.icofont-check-circled:before
{
  content: "\eed7";
}

.icofont-check:before
{
  content: "\eed8";
}

.icofont-checked:before
{
  content: "\eed9";
}

.icofont-children-care:before
{
  content: "\eeda";
}

.icofont-clip:before
{
  content: "\eedb";
}

.icofont-clock-time:before
{
  content: "\eedc";
}

.icofont-close-circled:before
{
  content: "\eedd";
}

.icofont-close-line-circled:before
{
  content: "\eede";
}

.icofont-close-line-squared-alt:before
{
  content: "\eedf";
}

.icofont-close-line-squared:before
{
  content: "\eee0";
}

.icofont-close-line:before
{
  content: "\eee1";
}

.icofont-close-squared-alt:before
{
  content: "\eee2";
}

.icofont-close-squared:before
{
  content: "\eee3";
}

.icofont-close:before
{
  content: "\eee4";
}

.icofont-cloud-download:before
{
  content: "\eee5";
}

.icofont-cloud-refresh:before
{
  content: "\eee6";
}

.icofont-cloud-upload:before
{
  content: "\eee7";
}

.icofont-cloud:before
{
  content: "\eee8";
}

.icofont-code-not-allowed:before
{
  content: "\eee9";
}

.icofont-code:before
{
  content: "\eeea";
}

.icofont-comment:before
{
  content: "\eeeb";
}

.icofont-compass-alt:before
{
  content: "\eeec";
}

.icofont-compass:before
{
  content: "\eeed";
}

.icofont-computer:before
{
  content: "\eeee";
}

.icofont-connection:before
{
  content: "\eeef";
}

.icofont-console:before
{
  content: "\eef0";
}

.icofont-contacts:before
{
  content: "\eef1";
}

.icofont-contrast:before
{
  content: "\eef2";
}

.icofont-copyright:before
{
  content: "\eef3";
}

.icofont-credit-card:before
{
  content: "\eef4";
}

.icofont-crop:before
{
  content: "\eef5";
}

.icofont-crown:before
{
  content: "\eef6";
}

.icofont-cube:before
{
  content: "\eef7";
}

.icofont-cubes:before
{
  content: "\eef8";
}

.icofont-dashboard-web:before
{
  content: "\eef9";
}

.icofont-dashboard:before
{
  content: "\eefa";
}

.icofont-data:before
{
  content: "\eefb";
}

.icofont-database-add:before
{
  content: "\eefc";
}

.icofont-database-locked:before
{
  content: "\eefd";
}

.icofont-database-remove:before
{
  content: "\eefe";
}

.icofont-database:before
{
  content: "\eeff";
}

.icofont-delete:before
{
  content: "\ef00";
}

.icofont-diamond:before
{
  content: "\ef01";
}

.icofont-dice-multiple:before
{
  content: "\ef02";
}

.icofont-dice:before
{
  content: "\ef03";
}

.icofont-disc:before
{
  content: "\ef04";
}

.icofont-diskette:before
{
  content: "\ef05";
}

.icofont-document-folder:before
{
  content: "\ef06";
}

.icofont-download-alt:before
{
  content: "\ef07";
}

.icofont-download:before
{
  content: "\ef08";
}

.icofont-downloaded:before
{
  content: "\ef09";
}

.icofont-drag:before
{
  content: "\ef0a";
}

.icofont-drag1:before
{
  content: "\ef0b";
}

.icofont-drag2:before
{
  content: "\ef0c";
}

.icofont-drag3:before
{
  content: "\ef0d";
}

.icofont-earth:before
{
  content: "\ef0e";
}

.icofont-ebook:before
{
  content: "\ef0f";
}

.icofont-edit:before
{
  content: "\ef10";
}

.icofont-eject:before
{
  content: "\ef11";
}

.icofont-email:before
{
  content: "\ef12";
}

.icofont-envelope-open:before
{
  content: "\ef13";
}

.icofont-envelope:before
{
  content: "\ef14";
}

.icofont-eraser:before
{
  content: "\ef15";
}

.icofont-error:before
{
  content: "\ef16";
}

.icofont-excavator:before
{
  content: "\ef17";
}

.icofont-exchange:before
{
  content: "\ef18";
}

.icofont-exclamation-circle:before
{
  content: "\ef19";
}

.icofont-exclamation-square:before
{
  content: "\ef1a";
}

.icofont-exclamation-tringle:before
{
  content: "\ef1b";
}

.icofont-exclamation:before
{
  content: "\ef1c";
}

.icofont-exit:before
{
  content: "\ef1d";
}

.icofont-expand:before
{
  content: "\ef1e";
}

.icofont-external-link:before
{
  content: "\ef1f";
}

.icofont-external:before
{
  content: "\ef20";
}

.icofont-eye-alt:before
{
  content: "\ef21";
}

.icofont-eye-blocked:before
{
  content: "\ef22";
}

.icofont-eye-dropper:before
{
  content: "\ef23";
}

.icofont-eye:before
{
  content: "\ef24";
}

.icofont-favourite:before
{
  content: "\ef25";
}

.icofont-fax:before
{
  content: "\ef26";
}

.icofont-file-fill:before
{
  content: "\ef27";
}

.icofont-film:before
{
  content: "\ef28";
}

.icofont-filter:before
{
  content: "\ef29";
}

.icofont-fire-alt:before
{
  content: "\ef2a";
}

.icofont-fire-burn:before
{
  content: "\ef2b";
}

.icofont-fire:before
{
  content: "\ef2c";
}

.icofont-flag-alt-1:before
{
  content: "\ef2d";
}

.icofont-flag-alt-2:before
{
  content: "\ef2e";
}

.icofont-flag:before
{
  content: "\ef2f";
}

.icofont-flame-torch:before
{
  content: "\ef30";
}

.icofont-flash-light:before
{
  content: "\ef31";
}

.icofont-flash:before
{
  content: "\ef32";
}

.icofont-flask:before
{
  content: "\ef33";
}

.icofont-focus:before
{
  content: "\ef34";
}

.icofont-folder-open:before
{
  content: "\ef35";
}

.icofont-folder:before
{
  content: "\ef36";
}

.icofont-foot-print:before
{
  content: "\ef37";
}

.icofont-garbage:before
{
  content: "\ef38";
}

.icofont-gear-alt:before
{
  content: "\ef39";
}

.icofont-gear:before
{
  content: "\ef3a";
}

.icofont-gears:before
{
  content: "\ef3b";
}

.icofont-gift:before
{
  content: "\ef3c";
}

.icofont-glass:before
{
  content: "\ef3d";
}

.icofont-globe:before
{
  content: "\ef3e";
}

.icofont-graffiti:before
{
  content: "\ef3f";
}

.icofont-grocery:before
{
  content: "\ef40";
}

.icofont-hand:before
{
  content: "\ef41";
}

.icofont-hanger:before
{
  content: "\ef42";
}

.icofont-hard-disk:before
{
  content: "\ef43";
}

.icofont-heart-alt:before
{
  content: "\ef44";
}

.icofont-heart:before
{
  content: "\ef45";
}

.icofont-history:before
{
  content: "\ef46";
}

.icofont-home:before
{
  content: "\ef47";
}

.icofont-horn:before
{
  content: "\ef48";
}

.icofont-hour-glass:before
{
  content: "\ef49";
}

.icofont-id:before
{
  content: "\ef4a";
}

.icofont-image:before
{
  content: "\ef4b";
}

.icofont-inbox:before
{
  content: "\ef4c";
}

.icofont-infinite:before
{
  content: "\ef4d";
}

.icofont-info-circle:before
{
  content: "\ef4e";
}

.icofont-info-square:before
{
  content: "\ef4f";
}

.icofont-info:before
{
  content: "\ef50";
}

.icofont-institution:before
{
  content: "\ef51";
}

.icofont-interface:before
{
  content: "\ef52";
}

.icofont-invisible:before
{
  content: "\ef53";
}

.icofont-jacket:before
{
  content: "\ef54";
}

.icofont-jar:before
{
  content: "\ef55";
}

.icofont-jewlery:before
{
  content: "\ef56";
}

.icofont-karate:before
{
  content: "\ef57";
}

.icofont-key-hole:before
{
  content: "\ef58";
}

.icofont-key:before
{
  content: "\ef59";
}

.icofont-label:before
{
  content: "\ef5a";
}

.icofont-lamp:before
{
  content: "\ef5b";
}

.icofont-layers:before
{
  content: "\ef5c";
}

.icofont-layout:before
{
  content: "\ef5d";
}

.icofont-leaf:before
{
  content: "\ef5e";
}

.icofont-leaflet:before
{
  content: "\ef5f";
}

.icofont-learn:before
{
  content: "\ef60";
}

.icofont-lego:before
{
  content: "\ef61";
}

.icofont-lens:before
{
  content: "\ef62";
}

.icofont-letter:before
{
  content: "\ef63";
}

.icofont-letterbox:before
{
  content: "\ef64";
}

.icofont-library:before
{
  content: "\ef65";
}

.icofont-license:before
{
  content: "\ef66";
}

.icofont-life-bouy:before
{
  content: "\ef67";
}

.icofont-life-buoy:before
{
  content: "\ef68";
}

.icofont-life-jacket:before
{
  content: "\ef69";
}

.icofont-life-ring:before
{
  content: "\ef6a";
}

.icofont-light-bulb:before
{
  content: "\ef6b";
}

.icofont-lighter:before
{
  content: "\ef6c";
}

.icofont-lightning-ray:before
{
  content: "\ef6d";
}

.icofont-like:before
{
  content: "\ef6e";
}

.icofont-line-height:before
{
  content: "\ef6f";
}

.icofont-link-alt:before
{
  content: "\ef70";
}

.icofont-link:before
{
  content: "\ef71";
}

.icofont-list:before
{
  content: "\ef72";
}

.icofont-listening:before
{
  content: "\ef73";
}

.icofont-listine-dots:before
{
  content: "\ef74";
}

.icofont-listing-box:before
{
  content: "\ef75";
}

.icofont-listing-number:before
{
  content: "\ef76";
}

.icofont-live-support:before
{
  content: "\ef77";
}

.icofont-location-arrow:before
{
  content: "\ef78";
}

.icofont-location-pin:before
{
  content: "\ef79";
}

.icofont-lock:before
{
  content: "\ef7a";
}

.icofont-login:before
{
  content: "\ef7b";
}

.icofont-logout:before
{
  content: "\ef7c";
}

.icofont-lollipop:before
{
  content: "\ef7d";
}

.icofont-long-drive:before
{
  content: "\ef7e";
}

.icofont-look:before
{
  content: "\ef7f";
}

.icofont-loop:before
{
  content: "\ef80";
}

.icofont-luggage:before
{
  content: "\ef81";
}

.icofont-lunch:before
{
  content: "\ef82";
}

.icofont-lungs:before
{
  content: "\ef83";
}

.icofont-magic-alt:before
{
  content: "\ef84";
}

.icofont-magic:before
{
  content: "\ef85";
}

.icofont-magnet:before
{
  content: "\ef86";
}

.icofont-mail-box:before
{
  content: "\ef87";
}

.icofont-mail:before
{
  content: "\ef88";
}

.icofont-male:before
{
  content: "\ef89";
}

.icofont-map-pins:before
{
  content: "\ef8a";
}

.icofont-map:before
{
  content: "\ef8b";
}

.icofont-maximize:before
{
  content: "\ef8c";
}

.icofont-measure:before
{
  content: "\ef8d";
}

.icofont-medicine:before
{
  content: "\ef8e";
}

.icofont-mega-phone:before
{
  content: "\ef8f";
}

.icofont-megaphone-alt:before
{
  content: "\ef90";
}

.icofont-megaphone:before
{
  content: "\ef91";
}

.icofont-memorial:before
{
  content: "\ef92";
}

.icofont-memory-card:before
{
  content: "\ef93";
}

.icofont-mic-mute:before
{
  content: "\ef94";
}

.icofont-mic:before
{
  content: "\ef95";
}

.icofont-military:before
{
  content: "\ef96";
}

.icofont-mill:before
{
  content: "\ef97";
}

.icofont-minus-circle:before
{
  content: "\ef98";
}

.icofont-minus-square:before
{
  content: "\ef99";
}

.icofont-minus:before
{
  content: "\ef9a";
}

.icofont-mobile-phone:before
{
  content: "\ef9b";
}

.icofont-molecule:before
{
  content: "\ef9c";
}

.icofont-money:before
{
  content: "\ef9d";
}

.icofont-moon:before
{
  content: "\ef9e";
}

.icofont-mop:before
{
  content: "\ef9f";
}

.icofont-muffin:before
{
  content: "\efa0";
}

.icofont-mustache:before
{
  content: "\efa1";
}

.icofont-navigation-menu:before
{
  content: "\efa2";
}

.icofont-navigation:before
{
  content: "\efa3";
}

.icofont-network-tower:before
{
  content: "\efa4";
}

.icofont-network:before
{
  content: "\efa5";
}

.icofont-news:before
{
  content: "\efa6";
}

.icofont-newspaper:before
{
  content: "\efa7";
}

.icofont-no-smoking:before
{
  content: "\efa8";
}

.icofont-not-allowed:before
{
  content: "\efa9";
}

.icofont-notebook:before
{
  content: "\efaa";
}

.icofont-notepad:before
{
  content: "\efab";
}

.icofont-notification:before
{
  content: "\efac";
}

.icofont-numbered:before
{
  content: "\efad";
}

.icofont-opposite:before
{
  content: "\efae";
}

.icofont-optic:before
{
  content: "\efaf";
}

.icofont-options:before
{
  content: "\efb0";
}

.icofont-package:before
{
  content: "\efb1";
}

.icofont-page:before
{
  content: "\efb2";
}

.icofont-paint:before
{
  content: "\efb3";
}

.icofont-paper-plane:before
{
  content: "\efb4";
}

.icofont-paperclip:before
{
  content: "\efb5";
}

.icofont-papers:before
{
  content: "\efb6";
}

.icofont-pay:before
{
  content: "\efb7";
}

.icofont-penguin-linux:before
{
  content: "\efb8";
}

.icofont-pestle:before
{
  content: "\efb9";
}

.icofont-phone-circle:before
{
  content: "\efba";
}

.icofont-phone:before
{
  content: "\efbb";
}

.icofont-picture:before
{
  content: "\efbc";
}

.icofont-pine:before
{
  content: "\efbd";
}

.icofont-pixels:before
{
  content: "\efbe";
}

.icofont-plugin:before
{
  content: "\efbf";
}

.icofont-plus-circle:before
{
  content: "\efc0";
}

.icofont-plus-square:before
{
  content: "\efc1";
}

.icofont-plus:before
{
  content: "\efc2";
}

.icofont-polygonal:before
{
  content: "\efc3";
}

.icofont-power:before
{
  content: "\efc4";
}

.icofont-price:before
{
  content: "\efc5";
}

.icofont-print:before
{
  content: "\efc6";
}

.icofont-puzzle:before
{
  content: "\efc7";
}

.icofont-qr-code:before
{
  content: "\efc8";
}

.icofont-queen:before
{
  content: "\efc9";
}

.icofont-question-circle:before
{
  content: "\efca";
}

.icofont-question-square:before
{
  content: "\efcb";
}

.icofont-question:before
{
  content: "\efcc";
}

.icofont-quote-left:before
{
  content: "\efcd";
}

.icofont-quote-right:before
{
  content: "\efce";
}

.icofont-random:before
{
  content: "\efcf";
}

.icofont-recycle:before
{
  content: "\efd0";
}

.icofont-refresh:before
{
  content: "\efd1";
}

.icofont-repair:before
{
  content: "\efd2";
}

.icofont-reply-all:before
{
  content: "\efd3";
}

.icofont-reply:before
{
  content: "\efd4";
}

.icofont-resize:before
{
  content: "\efd5";
}

.icofont-responsive:before
{
  content: "\efd6";
}

.icofont-retweet:before
{
  content: "\efd7";
}

.icofont-road:before
{
  content: "\efd8";
}

.icofont-robot:before
{
  content: "\efd9";
}

.icofont-royal:before
{
  content: "\efda";
}

.icofont-rss-feed:before
{
  content: "\efdb";
}

.icofont-safety:before
{
  content: "\efdc";
}

.icofont-sale-discount:before
{
  content: "\efdd";
}

.icofont-satellite:before
{
  content: "\efde";
}

.icofont-send-mail:before
{
  content: "\efdf";
}

.icofont-server:before
{
  content: "\efe0";
}

.icofont-settings-alt:before
{
  content: "\efe1";
}

.icofont-settings:before
{
  content: "\efe2";
}

.icofont-share-alt:before
{
  content: "\efe3";
}

.icofont-share-boxed:before
{
  content: "\efe4";
}

.icofont-share:before
{
  content: "\efe5";
}

.icofont-shield:before
{
  content: "\efe6";
}

.icofont-shopping-cart:before
{
  content: "\efe7";
}

.icofont-sign-in:before
{
  content: "\efe8";
}

.icofont-sign-out:before
{
  content: "\efe9";
}

.icofont-signal:before
{
  content: "\efea";
}

.icofont-site-map:before
{
  content: "\efeb";
}

.icofont-smart-phone:before
{
  content: "\efec";
}

.icofont-soccer:before
{
  content: "\efed";
}

.icofont-sort-alt:before
{
  content: "\efee";
}

.icofont-sort:before
{
  content: "\efef";
}

.icofont-space:before
{
  content: "\eff0";
}

.icofont-spanner:before
{
  content: "\eff1";
}

.icofont-speech-comments:before
{
  content: "\eff2";
}

.icofont-speed-meter:before
{
  content: "\eff3";
}

.icofont-spinner-alt-1:before
{
  content: "\eff4";
}

.icofont-spinner-alt-2:before
{
  content: "\eff5";
}

.icofont-spinner-alt-3:before
{
  content: "\eff6";
}

.icofont-spinner-alt-4:before
{
  content: "\eff7";
}

.icofont-spinner-alt-5:before
{
  content: "\eff8";
}

.icofont-spinner-alt-6:before
{
  content: "\eff9";
}

.icofont-spinner:before
{
  content: "\effa";
}

.icofont-spreadsheet:before
{
  content: "\effb";
}

.icofont-square:before
{
  content: "\effc";
}

.icofont-ssl-security:before
{
  content: "\effd";
}

.icofont-star-alt-1:before
{
  content: "\effe";
}

.icofont-star-alt-2:before
{
  content: "\efff";
}

.icofont-star:before
{
  content: "\f000";
}

.icofont-street-view:before
{
  content: "\f001";
}

.icofont-support-faq:before
{
  content: "\f002";
}

.icofont-tack-pin:before
{
  content: "\f003";
}

.icofont-tag:before
{
  content: "\f004";
}

.icofont-tags:before
{
  content: "\f005";
}

.icofont-tasks-alt:before
{
  content: "\f006";
}

.icofont-tasks:before
{
  content: "\f007";
}

.icofont-telephone:before
{
  content: "\f008";
}

.icofont-telescope:before
{
  content: "\f009";
}

.icofont-terminal:before
{
  content: "\f00a";
}

.icofont-thumbs-down:before
{
  content: "\f00b";
}

.icofont-thumbs-up:before
{
  content: "\f00c";
}

.icofont-tick-boxed:before
{
  content: "\f00d";
}

.icofont-tick-mark:before
{
  content: "\f00e";
}

.icofont-ticket:before
{
  content: "\f00f";
}

.icofont-tie:before
{
  content: "\f010";
}

.icofont-toggle-off:before
{
  content: "\f011";
}

.icofont-toggle-on:before
{
  content: "\f012";
}

.icofont-tools-alt-2:before
{
  content: "\f013";
}

.icofont-tools:before
{
  content: "\f014";
}

.icofont-touch:before
{
  content: "\f015";
}

.icofont-traffic-light:before
{
  content: "\f016";
}

.icofont-transparent:before
{
  content: "\f017";
}

.icofont-tree:before
{
  content: "\f018";
}

.icofont-unique-idea:before
{
  content: "\f019";
}

.icofont-unlock:before
{
  content: "\f01a";
}

.icofont-unlocked:before
{
  content: "\f01b";
}

.icofont-upload-alt:before
{
  content: "\f01c";
}

.icofont-upload:before
{
  content: "\f01d";
}

.icofont-usb-drive:before
{
  content: "\f01e";
}

.icofont-usb:before
{
  content: "\f01f";
}

.icofont-vector-path:before
{
  content: "\f020";
}

.icofont-verification-check:before
{
  content: "\f021";
}

.icofont-wall-clock:before
{
  content: "\f022";
}

.icofont-wall:before
{
  content: "\f023";
}

.icofont-wallet:before
{
  content: "\f024";
}

.icofont-warning-alt:before
{
  content: "\f025";
}

.icofont-warning:before
{
  content: "\f026";
}

.icofont-water-drop:before
{
  content: "\f027";
}

.icofont-web:before
{
  content: "\f028";
}

.icofont-wheelchair:before
{
  content: "\f029";
}

.icofont-wifi-alt:before
{
  content: "\f02a";
}

.icofont-wifi:before
{
  content: "\f02b";
}

.icofont-world:before
{
  content: "\f02c";
}

.icofont-zigzag:before
{
  content: "\f02d";
}

.icofont-zipped:before
{
  content: "\f02e";
}

.icofont-burglar:before
{
  content: "\ebb0";
}

.icofont-cannon-firing:before
{
  content: "\ebb1";
}

.icofont-cc-camera:before
{
  content: "\ebb2";
}

.icofont-cop-badge:before
{
  content: "\ebb3";
}

.icofont-cop:before
{
  content: "\ebb4";
}

.icofont-court-hammer:before
{
  content: "\ebb5";
}

.icofont-court:before
{
  content: "\ebb6";
}

.icofont-finger-print:before
{
  content: "\ebb7";
}

.icofont-gavel:before
{
  content: "\ebb8";
}

.icofont-handcuff-alt:before
{
  content: "\ebb9";
}

.icofont-handcuff:before
{
  content: "\ebba";
}

.icofont-investigation:before
{
  content: "\ebbb";
}

.icofont-investigator:before
{
  content: "\ebbc";
}

.icofont-jail:before
{
  content: "\ebbd";
}

.icofont-judge:before
{
  content: "\ebbe";
}

.icofont-law-alt-1:before
{
  content: "\ebbf";
}

.icofont-law-alt-2:before
{
  content: "\ebc0";
}

.icofont-law-alt-3:before
{
  content: "\ebc1";
}

.icofont-law-book:before
{
  content: "\ebc2";
}

.icofont-law-document:before
{
  content: "\ebc3";
}

.icofont-law-order:before
{
  content: "\ebc4";
}

.icofont-law-protect:before
{
  content: "\ebc5";
}

.icofont-law-scales:before
{
  content: "\ebc6";
}

.icofont-law:before
{
  content: "\ebc7";
}

.icofont-lawyer-alt-1:before
{
  content: "\ebc8";
}

.icofont-lawyer-alt-2:before
{
  content: "\ebc9";
}

.icofont-lawyer:before
{
  content: "\ebca";
}

.icofont-legal:before
{
  content: "\ebcb";
}

.icofont-pistol:before
{
  content: "\ebcc";
}

.icofont-police-badge:before
{
  content: "\ebcd";
}

.icofont-police-cap:before
{
  content: "\ebce";
}

.icofont-police-car-alt-1:before
{
  content: "\ebcf";
}

.icofont-police-car-alt-2:before
{
  content: "\ebd0";
}

.icofont-police-car:before
{
  content: "\ebd1";
}

.icofont-police-hat:before
{
  content: "\ebd2";
}

.icofont-police-van:before
{
  content: "\ebd3";
}

.icofont-police:before
{
  content: "\ebd4";
}

.icofont-thief-alt:before
{
  content: "\ebd5";
}

.icofont-thief:before
{
  content: "\ebd6";
}

.icofont-ui-add:before
{
  content: "\ec3e";
}

.icofont-ui-alarm:before
{
  content: "\ec3f";
}

.icofont-ui-battery:before
{
  content: "\ec40";
}

.icofont-ui-block:before
{
  content: "\ec41";
}

.icofont-ui-bluetooth:before
{
  content: "\ec42";
}

.icofont-ui-brightness:before
{
  content: "\ec43";
}

.icofont-ui-browser:before
{
  content: "\ec44";
}

.icofont-ui-calendar:before
{
  content: "\ec45";
}

.icofont-ui-call:before
{
  content: "\ec46";
}

.icofont-ui-camera:before
{
  content: "\ec47";
}

.icofont-ui-cart:before
{
  content: "\ec48";
}

.icofont-ui-cell-phone:before
{
  content: "\ec49";
}

.icofont-ui-chat:before
{
  content: "\ec4a";
}

.icofont-ui-check:before
{
  content: "\ec4b";
}

.icofont-ui-clip-board:before
{
  content: "\ec4c";
}

.icofont-ui-clip:before
{
  content: "\ec4d";
}

.icofont-ui-clock:before
{
  content: "\ec4e";
}

.icofont-ui-close:before
{
  content: "\ec4f";
}

.icofont-ui-contact-list:before
{
  content: "\ec50";
}

.icofont-ui-copy:before
{
  content: "\ec51";
}

.icofont-ui-cut:before
{
  content: "\ec52";
}

.icofont-ui-delete:before
{
  content: "\ec53";
}

.icofont-ui-dial-phone:before
{
  content: "\ec54";
}

.icofont-ui-edit:before
{
  content: "\ec55";
}

.icofont-ui-email:before
{
  content: "\ec56";
}

.icofont-ui-file:before
{
  content: "\ec57";
}

.icofont-ui-fire-wall:before
{
  content: "\ec58";
}

.icofont-ui-flash-light:before
{
  content: "\ec59";
}

.icofont-ui-flight:before
{
  content: "\ec5a";
}

.icofont-ui-folder:before
{
  content: "\ec5b";
}

.icofont-ui-game:before
{
  content: "\ec5c";
}

.icofont-ui-handicapped:before
{
  content: "\ec5d";
}

.icofont-ui-home:before
{
  content: "\ec5e";
}

.icofont-ui-image:before
{
  content: "\ec5f";
}

.icofont-ui-laoding:before
{
  content: "\ec60";
}

.icofont-ui-lock:before
{
  content: "\ec61";
}

.icofont-ui-love-add:before
{
  content: "\ec62";
}

.icofont-ui-love-broken:before
{
  content: "\ec63";
}

.icofont-ui-love-remove:before
{
  content: "\ec64";
}

.icofont-ui-love:before
{
  content: "\ec65";
}

.icofont-ui-map:before
{
  content: "\ec66";
}

.icofont-ui-message:before
{
  content: "\ec67";
}

.icofont-ui-messaging:before
{
  content: "\ec68";
}

.icofont-ui-movie:before
{
  content: "\ec69";
}

.icofont-ui-music-player:before
{
  content: "\ec6a";
}

.icofont-ui-music:before
{
  content: "\ec6b";
}

.icofont-ui-mute:before
{
  content: "\ec6c";
}

.icofont-ui-network:before
{
  content: "\ec6d";
}

.icofont-ui-next:before
{
  content: "\ec6e";
}

.icofont-ui-note:before
{
  content: "\ec6f";
}

.icofont-ui-office:before
{
  content: "\ec70";
}

.icofont-ui-password:before
{
  content: "\ec71";
}

.icofont-ui-pause:before
{
  content: "\ec72";
}

.icofont-ui-play-stop:before
{
  content: "\ec73";
}

.icofont-ui-play:before
{
  content: "\ec74";
}

.icofont-ui-pointer:before
{
  content: "\ec75";
}

.icofont-ui-power:before
{
  content: "\ec76";
}

.icofont-ui-press:before
{
  content: "\ec77";
}

.icofont-ui-previous:before
{
  content: "\ec78";
}

.icofont-ui-rate-add:before
{
  content: "\ec79";
}

.icofont-ui-rate-blank:before
{
  content: "\ec7a";
}

.icofont-ui-rate-remove:before
{
  content: "\ec7b";
}

.icofont-ui-rating:before
{
  content: "\ec7c";
}

.icofont-ui-record:before
{
  content: "\ec7d";
}

.icofont-ui-remove:before
{
  content: "\ec7e";
}

.icofont-ui-reply:before
{
  content: "\ec7f";
}

.icofont-ui-rotation:before
{
  content: "\ec80";
}

.icofont-ui-rss:before
{
  content: "\ec81";
}

.icofont-ui-search:before
{
  content: "\ec82";
}

.icofont-ui-settings:before
{
  content: "\ec83";
}

.icofont-ui-social-link:before
{
  content: "\ec84";
}

.icofont-ui-tag:before
{
  content: "\ec85";
}

.icofont-ui-text-chat:before
{
  content: "\ec86";
}

.icofont-ui-text-loading:before
{
  content: "\ec87";
}

.icofont-ui-theme:before
{
  content: "\ec88";
}

.icofont-ui-timer:before
{
  content: "\ec89";
}

.icofont-ui-touch-phone:before
{
  content: "\ec8a";
}

.icofont-ui-travel:before
{
  content: "\ec8b";
}

.icofont-ui-unlock:before
{
  content: "\ec8c";
}

.icofont-ui-user-group:before
{
  content: "\ec8d";
}

.icofont-ui-user:before
{
  content: "\ec8e";
}

.icofont-ui-v-card:before
{
  content: "\ec8f";
}

.icofont-ui-video-chat:before
{
  content: "\ec90";
}

.icofont-ui-video-message:before
{
  content: "\ec91";
}

.icofont-ui-video-play:before
{
  content: "\ec92";
}

.icofont-ui-video:before
{
  content: "\ec93";
}

.icofont-ui-volume:before
{
  content: "\ec94";
}

.icofont-ui-weather:before
{
  content: "\ec95";
}

.icofont-ui-wifi:before
{
  content: "\ec96";
}

.icofont-ui-zoom-in:before
{
  content: "\ec97";
}

.icofont-ui-zoom-out:before
{
  content: "\ec98";
}

.icofont-500px:before
{
  content: "\ed1c";
}

.icofont-aim:before
{
  content: "\ed1d";
}

.icofont-badoo:before
{
  content: "\ed1e";
}

.icofont-baidu-tieba:before
{
  content: "\ed1f";
}

.icofont-bbm-messenger:before
{
  content: "\ed20";
}

.icofont-bebo:before
{
  content: "\ed21";
}

.icofont-behance:before
{
  content: "\ed22";
}

.icofont-blogger:before
{
  content: "\ed23";
}

.icofont-bootstrap:before
{
  content: "\ed24";
}

.icofont-brightkite:before
{
  content: "\ed25";
}

.icofont-cloudapp:before
{
  content: "\ed26";
}

.icofont-concrete5:before
{
  content: "\ed27";
}

.icofont-delicious:before
{
  content: "\ed28";
}

.icofont-designbump:before
{
  content: "\ed29";
}

.icofont-designfloat:before
{
  content: "\ed2a";
}

.icofont-deviantart:before
{
  content: "\ed2b";
}

.icofont-digg:before
{
  content: "\ed2c";
}

.icofont-dotcms:before
{
  content: "\ed2d";
}

.icofont-dribbble:before
{
  content: "\ed2e";
}

.icofont-dribble:before
{
  content: "\ed2f";
}

.icofont-dropbox:before
{
  content: "\ed30";
}

.icofont-ebuddy:before
{
  content: "\ed31";
}

.icofont-ello:before
{
  content: "\ed32";
}

.icofont-ember:before
{
  content: "\ed33";
}

.icofont-envato:before
{
  content: "\ed34";
}

.icofont-evernote:before
{
  content: "\ed35";
}

.icofont-facebook-messenger:before
{
  content: "\ed36";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-feedburner:before
{
  content: "\ed38";
}

.icofont-flikr:before
{
  content: "\ed39";
}

.icofont-folkd:before
{
  content: "\ed3a";
}

.icofont-foursquare:before
{
  content: "\ed3b";
}

.icofont-friendfeed:before
{
  content: "\ed3c";
}

.icofont-ghost:before
{
  content: "\ed3d";
}

.icofont-github:before
{
  content: "\ed3e";
}

.icofont-gnome:before
{
  content: "\ed3f";
}

.icofont-google-buzz:before
{
  content: "\ed40";
}

.icofont-google-hangouts:before
{
  content: "\ed41";
}

.icofont-google-map:before
{
  content: "\ed42";
}

.icofont-google-plus:before
{
  content: "\ed43";
}

.icofont-google-talk:before
{
  content: "\ed44";
}

.icofont-hype-machine:before
{
  content: "\ed45";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-kakaotalk:before
{
  content: "\ed47";
}

.icofont-kickstarter:before
{
  content: "\ed48";
}

.icofont-kik:before
{
  content: "\ed49";
}

.icofont-kiwibox:before
{
  content: "\ed4a";
}

.icofont-line-messenger:before
{
  content: "\ed4b";
}

.icofont-line:before
{
  content: "\ed4c";
}

.icofont-linkedin:before
{
  content: "\ed4d";
}

.icofont-linux-mint:before
{
  content: "\ed4e";
}

.icofont-live-messenger:before
{
  content: "\ed4f";
}

.icofont-livejournal:before
{
  content: "\ed50";
}

.icofont-magento:before
{
  content: "\ed51";
}

.icofont-meetme:before
{
  content: "\ed52";
}

.icofont-meetup:before
{
  content: "\ed53";
}

.icofont-mixx:before
{
  content: "\ed54";
}

.icofont-newsvine:before
{
  content: "\ed55";
}

.icofont-nimbuss:before
{
  content: "\ed56";
}

.icofont-odnoklassniki:before
{
  content: "\ed57";
}

.icofont-opencart:before
{
  content: "\ed58";
}

.icofont-oscommerce:before
{
  content: "\ed59";
}

.icofont-pandora:before
{
  content: "\ed5a";
}

.icofont-photobucket:before
{
  content: "\ed5b";
}

.icofont-picasa:before
{
  content: "\ed5c";
}

.icofont-pinterest:before
{
  content: "\ed5d";
}

.icofont-prestashop:before
{
  content: "\ed5e";
}

.icofont-qik:before
{
  content: "\ed5f";
}

.icofont-qq:before
{
  content: "\ed60";
}

.icofont-readernaut:before
{
  content: "\ed61";
}

.icofont-reddit:before
{
  content: "\ed62";
}

.icofont-renren:before
{
  content: "\ed63";
}

.icofont-rss:before
{
  content: "\ed64";
}

.icofont-shopify:before
{
  content: "\ed65";
}

.icofont-silverstripe:before
{
  content: "\ed66";
}

.icofont-skype:before
{
  content: "\ed67";
}

.icofont-slack:before
{
  content: "\ed68";
}

.icofont-slashdot:before
{
  content: "\ed69";
}

.icofont-slidshare:before
{
  content: "\ed6a";
}

.icofont-smugmug:before
{
  content: "\ed6b";
}

.icofont-snapchat:before
{
  content: "\ed6c";
}

.icofont-soundcloud:before
{
  content: "\ed6d";
}

.icofont-spotify:before
{
  content: "\ed6e";
}

.icofont-stack-exchange:before
{
  content: "\ed6f";
}

.icofont-stack-overflow:before
{
  content: "\ed70";
}

.icofont-steam:before
{
  content: "\ed71";
}

.icofont-stumbleupon:before
{
  content: "\ed72";
}

.icofont-tagged:before
{
  content: "\ed73";
}

.icofont-technorati:before
{
  content: "\ed74";
}

.icofont-telegram:before
{
  content: "\ed75";
}

.icofont-tinder:before
{
  content: "\ed76";
}

.icofont-trello:before
{
  content: "\ed77";
}

.icofont-tumblr:before
{
  content: "\ed78";
}

.icofont-twitch:before
{
  content: "\ed79";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-typo3:before
{
  content: "\ed7b";
}

.icofont-ubercart:before
{
  content: "\ed7c";
}

.icofont-viber:before
{
  content: "\ed7d";
}

.icofont-viddler:before
{
  content: "\ed7e";
}

.icofont-vimeo:before
{
  content: "\ed7f";
}

.icofont-vine:before
{
  content: "\ed80";
}

.icofont-virb:before
{
  content: "\ed81";
}

.icofont-virtuemart:before
{
  content: "\ed82";
}

.icofont-vk:before
{
  content: "\ed83";
}

.icofont-wechat:before
{
  content: "\ed84";
}

.icofont-weibo:before
{
  content: "\ed85";
}

.icofont-whatsapp:before
{
  content: "\ed86";
}

.icofont-xing:before
{
  content: "\ed87";
}

.icofont-yahoo:before
{
  content: "\ed88";
}

.icofont-yelp:before
{
  content: "\ed89";
}

.icofont-youku:before
{
  content: "\ed8a";
}

.icofont-youtube:before
{
  content: "\ed8b";
}

.icofont-zencart:before
{
  content: "\ed8c";
}

.icofont-boy:before
{
  content: "\eceb";
}

.icofont-business-man-alt-1:before
{
  content: "\ecec";
}

.icofont-business-man-alt-2:before
{
  content: "\eced";
}

.icofont-business-man-alt-3:before
{
  content: "\ecee";
}

.icofont-business-man:before
{
  content: "\ecef";
}

.icofont-female:before
{
  content: "\ecf0";
}

.icofont-funky-man:before
{
  content: "\ecf1";
}

.icofont-girl-alt:before
{
  content: "\ecf2";
}

.icofont-girl:before
{
  content: "\ecf3";
}

.icofont-group:before
{
  content: "\ecf4";
}

.icofont-hotel-boy-alt:before
{
  content: "\ecf5";
}

.icofont-hotel-boy:before
{
  content: "\ecf6";
}

.icofont-kid:before
{
  content: "\ecf7";
}

.icofont-man-in-glasses:before
{
  content: "\ecf8";
}

.icofont-people:before
{
  content: "\ecf9";
}

.icofont-support:before
{
  content: "\ecfa";
}

.icofont-user-alt-1:before
{
  content: "\ecfb";
}

.icofont-user-alt-2:before
{
  content: "\ecfc";
}

.icofont-user-alt-3:before
{
  content: "\ecfd";
}

.icofont-user-alt-4:before
{
  content: "\ecfe";
}

.icofont-user-alt-5:before
{
  content: "\ecff";
}

.icofont-user-alt-6:before
{
  content: "\ed00";
}

.icofont-user-alt-7:before
{
  content: "\ed01";
}

.icofont-user-female:before
{
  content: "\ed02";
}

.icofont-user-male:before
{
  content: "\ed03";
}

.icofont-user-suited:before
{
  content: "\ed04";
}

.icofont-user:before
{
  content: "\ed05";
}

.icofont-users-alt-1:before
{
  content: "\ed06";
}

.icofont-users-alt-2:before
{
  content: "\ed07";
}

.icofont-users-alt-3:before
{
  content: "\ed08";
}

.icofont-users-alt-4:before
{
  content: "\ed09";
}

.icofont-users-alt-5:before
{
  content: "\ed0a";
}

.icofont-users-alt-6:before
{
  content: "\ed0b";
}

.icofont-users-social:before
{
  content: "\ed0c";
}

.icofont-users:before
{
  content: "\ed0d";
}

.icofont-waiter-alt:before
{
  content: "\ed0e";
}

.icofont-waiter:before
{
  content: "\ed0f";
}

.icofont-woman-in-glasses:before
{
  content: "\ed10";
}

.icofont-cassette-player:before
{
  content: "\ec99";
}

.icofont-cassette:before
{
  content: "\ec9a";
}

.icofont-forward:before
{
  content: "\ec9b";
}

.icofont-guiter:before
{
  content: "\ec9c";
}

.icofont-movie:before
{
  content: "\ec9d";
}

.icofont-multimedia:before
{
  content: "\ec9e";
}

.icofont-music-alt:before
{
  content: "\ec9f";
}

.icofont-music-disk:before
{
  content: "\eca0";
}

.icofont-music-note:before
{
  content: "\eca1";
}

.icofont-music-notes:before
{
  content: "\eca2";
}

.icofont-music:before
{
  content: "\eca3";
}

.icofont-mute-volume:before
{
  content: "\eca4";
}

.icofont-pause:before
{
  content: "\eca5";
}

.icofont-play-alt-1:before
{
  content: "\eca6";
}

.icofont-play-alt-2:before
{
  content: "\eca7";
}

.icofont-play-alt-3:before
{
  content: "\eca8";
}

.icofont-play-pause:before
{
  content: "\eca9";
}

.icofont-play:before
{
  content: "\ecaa";
}

.icofont-record:before
{
  content: "\ecab";
}

.icofont-retro-music-disk:before
{
  content: "\ecac";
}

.icofont-rewind:before
{
  content: "\ecad";
}

.icofont-song-notes:before
{
  content: "\ecae";
}

.icofont-sound-wave-alt:before
{
  content: "\ecaf";
}

.icofont-sound-wave:before
{
  content: "\ecb0";
}

.icofont-stop:before
{
  content: "\ecb1";
}

.icofont-video-alt:before
{
  content: "\ecb2";
}

.icofont-video-cam:before
{
  content: "\ecb3";
}

.icofont-video-clapper:before
{
  content: "\ecb4";
}

.icofont-video:before
{
  content: "\ecb5";
}

.icofont-volume-bar:before
{
  content: "\ecb6";
}

.icofont-volume-down:before
{
  content: "\ecb7";
}

.icofont-volume-mute:before
{
  content: "\ecb8";
}

.icofont-volume-off:before
{
  content: "\ecb9";
}

.icofont-volume-up:before
{
  content: "\ecba";
}

.icofont-youtube-play:before
{
  content: "\ecbb";
}

.icofont-search-1:before
{
  content: "\ed11";
}

.icofont-search-2:before
{
  content: "\ed12";
}

.icofont-search-document:before
{
  content: "\ed13";
}

.icofont-search-folder:before
{
  content: "\ed14";
}

.icofont-search-job:before
{
  content: "\ed15";
}

.icofont-search-map:before
{
  content: "\ed16";
}

.icofont-search-property:before
{
  content: "\ed17";
}

.icofont-search-restaurant:before
{
  content: "\ed18";
}

.icofont-search-stock:before
{
  content: "\ed19";
}

.icofont-search-user:before
{
  content: "\ed1a";
}

.icofont-search:before
{
  content: "\ed1b";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
	