@media only screen  and (max-width: 1500px) {

}

@media (max-width: 1200px) {
    .banner_slider_section.form .spl_law_bannerSlider .banner-item .slider-content {
        max-width: 500px;
    }

    .consultant_form {
        right: 5%;
    }
}

@media (max-width: 1080px) {


}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

    .spl_law_main_header .column-left-icon {
        width: 70%;
    }

    .column-button-search {
        position: absolute;
        top: 30px;
        right: 65px;
        font-size: 17px;
    }

    /*--------------------------------------------------------------
     ## Menus
     --------------------------------------------------------------*/
    .main-menu-toggle {
        display: block;
        position: absolute;
        top: -56px;
        right: 9px;
        font-size: 17px;
        padding: 7px 14px;
        z-index: 9999;
        border: 1px solid #ddd;
        background: #ebebeb;
        border-radius: 3px;
        color: #888;
    }

    .main-menu-toggle:hover {
        background: #fgfgfg;
        color: #888;
    }

    span.sub-toggle {
        display: block;
    }

    .main-menu-container-collapse {
        display: none;
        position: absolute;
        width: 100%;
        padding: 0;
        width: 100%;
        left: 0;
        z-index: 999;
    }

    .main-navigation {
        background: none;
        border-top: none;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .main-navigation ul {
        border: none;
        width: 100%;
        background: #FFF;
    }

    .main-navigation ul li {
        display: block;

    }

    .main-navigation ul ul li {
        margin: 0;

    }

    .main-navigation ul li a {
        line-height: 1.2;
        padding: 14px 16px;
        border-bottom: 1px dashed #f1f1f1;
    }

    .main-navigation ul.nav-menu > li > a {
        padding: 10px 16px;
    }

    .main-navigation ul li ul li {
        border-top: none;
    }

    .main-navigation ul li ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        left: auto;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        border: none;
        background: transparent;
    }

    .main-navigation ul li ul li {
        position: relative;
        display: block;
    }

    .main-navigation ul li ul li a {
        padding: 14px 20px;
        font-size: 16px;
    }

    .main-navigation div > ul > li.menu-item-has-children:before,
    .main-navigation ul ul li.menu-item-has-children:before {
        display: none;
    }
    .transparent_header .main-navigation ul.nav-menu > li > a {
        color: #0e0e0e;
    }
    .spl_law_bannerSlider .banner-item {
        height: 650px;
    }

    .consultant_form {
        top: 5%;
    }

    .banner_slider_section.form .spl_law_bannerSlider .banner-item .slider-content {
        display: none;
    }

    .consultant_form {
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .spl_law_about_layout_two .achivement-items ul li {
        margin-right: 11px;
        padding-right: 10px;
    }

    .spl_law_video_bg .video-fluid{
     display: none;
    }

    .video_text{
        margin-bottom: 15px;
    }

    .spl_law_feature_layout_two.layout_three .feature-list .box{
        margin-bottom: 65px;
    }
    .spl_law_feature_layout_two.layout_three .feature-list:last-child .box{
        padding-bottom: 0px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    .spl_law_top_bar ul {
        padding: 6px 0 3px 0;
        margin: 0;
        text-align: center;
    }

    .top_bar_right .btn_type_two {
        float: none;
    }
    .top_bar_right {
        text-align: center;
    }

    .spl_law_top_bar .top_bar_right a, .spl_law_top_bar .top_bar_right ul {
        float: unset;
    }

    .breadcrumb {
        padding: 50px 0;
    }

    .breadcrumb_wrapper {
        display: block;
        text-align: center;
    }

    .breadcrumb h2 {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    .breadcrumb nav {
        display: inline-block;
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

    .lower-footer ul.social-media {
        text-align: center;
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 500px) {
    .column-button-search {
        margin-right: 5px;
    }

    .section-title {
        width: 290px;
    }

    .section-title::before {
        left:0px;
    }
    .section-title::after{
        right:0px;
    }


}